= form_for(@pt_rate) do |f|
  - if @pt_rate.errors.any?
    #error_explanation
      %h2
        = pluralize(@pt_rate.errors.count, "error")
        prohibited this pt_group from being saved:
      %ul
        - @pt_rate.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width => 160} PT Group
                  - if params[:id]
                    %td= @pt_rate.PtGroup.name
                  - else
                    %td= select_tag "pt_rate[PtGroup_id]", options_from_collection_for_select(PtGroup.order('id ASC'),'id','name', params[:id]),:prompt => 'Select PT Group'
            %td.std_td
              %table
                %tr
                  %td
                    %td{:width=>160} Effective Month
                  - if params[:id]
                    %td= @pt_rate.paymonth.month_name
                  - else
                    %td= select_tag "pt_rate[paymonth_id]", options_from_collection_for_select(Paymonth.order('id ASC'),'id','month_name', params[:id]),:prompt => 'Select Effective Month'
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:colspan=>2,:class=>'form_title'} Salary Range
                %tr
                  %td{:width => 160} Minimum :&nbsp
                  %td= f.text_field :min_sal_range, :size => '22'
                %tr
                  %td{:width=>130} PT:&nbsp;
                  %td= f.text_field :pt, :size => '22'
            %td.std_td
              %table
                %tr
                  %td
                    &nbsp;
                %tr
                  %td
                    %td{:width => 160} Maximum :&nbsp
                    %td= f.text_field :max_sal_range, :size => '22', :readonly => "readonly"
    %tr
      %td.std_td{:colspan=>2}
        %table
          %tr
            %td &nbsp;
          %tr
            %td{:colspan=>2}= f.submit
