= form_for @pt_rate, :html => {:name => "pt_rate"}  do |f|
  - if @pt_rate.errors.any?
    #error_explanation
      %h2
        = pluralize(@pt_rate.errors.count, "error")
        prohibited this pt_group from being saved:
      %ul
        - @pt_rate.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width => 160} PT Group
                  %td= @pt_rate.pt_group.name
                  = hidden_field_tag "pt_rate[pt_group_id]", @pt_rate.pt_group_id
            %td.std_td
              %table
                %tr
                  %td
                    %td{:width=>160} Effective Month
                    %td= @pt_rate.paymonth.month_name
                    = hidden_field_tag "pt_rate[paymonth_id]", @pt_rate.paymonth_id
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:colspan=>2,:class=>'form_title'} Salary Range
                %tr
                  %td{:width => 160} Minimum :&nbsp
                  %td= f.text_field :min_sal_range, :size => '22'
            %td.std_td
              %table
                %tr
                  %td
                    &nbsp;
                %tr
                  %td
                    %td{:width=>130} PT:&nbsp;
                    %td= f.text_field :pt, :size => '22'
    %tr
      %td.std_td{:colspan=>2}
        %table
          %tr
            %td &nbsp;
          %tr
            %td{:colspan=>2}= f.submit "Save"
