= form_for(holiday) do |f|
  - if holiday.errors.any?
    #error_explanation
      %h2
        = pluralize(holiday.errors.count, "error")
        prohibited this Holiday from being saved:
      %ul
        - holiday.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Attendance:&nbsp;
                  %td= f.select :attendance_configuration_id, options_for_select(AttendanceConfiguration.attendances.collect {|ac| [ ac.attendance, ac.id ] }, holiday.attendance_configuration_id)
                %tr
                  %td{:width=>130} Description:&nbsp;
                  %td= f.text_field :description, :size => '22'
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Date:&nbsp;
                  %td= f.text_field :holiday_date, :id => "hdd", :class => "date_input"
                %tr
                  %td{:width=>130} National Holiday:&nbsp;
                  %td= f.check_box :national_holiday
          %tr
            %td.std_td{:colspan=>2}
              %table
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit
