#left_content
  %ul
    %li= link_to 'Add New Holiday', new_holiday_path
#right_content
  %h1 Listing Holidays
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        = render 'search'
    %tr
      %td.std_td
        %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td.table_grid_header Date
            %td.table_grid_header{:width=>350} Description
            %td.table_grid_header{:colspan => 3} Operations
          - @holidays.each do |holiday|
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td
                - if holiday.holiday_date?
                  = l holiday.holiday_date, :format => Global.instance.date_format_type
                - else
                  = holiday.holiday_date
              %td.table_grid_td= holiday.description
              %td.table_grid_icon= link_to image_tag('/assets/show.png',:title => "Show Holiday"), holiday
              %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Holiday"), edit_holiday_path(holiday)
              %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Destroy Holiday"), holiday, :data=>{:confirm => 'Are you sure?'}, method: :delete
        %br/
        .digg_pagination
          .page_info
            = page_entries_info @holidays
          = will_paginate @holidays, :container => false
    %tr
      %td &nbsp;