#left_content
  %ul
    %li= link_to 'Back', holidays_path
    %li= link_to 'Edit Holiday', edit_holiday_path(@holiday)
#right_content
  %h1
    Showing Holiday
    = link_to image_tag('/assets/edit.png',:title => "Edit Holiday"), edit_holiday_path(@holiday)
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Attendance:&nbsp;
                  %td= @holiday.attendance_configuration_attendance
                %tr
                  %td{:width=>130} Description:&nbsp;
                  %td= @holiday.description
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Date:&nbsp;
                  %td= l @holiday.holiday_date, :format => Global.instance.date_format_type
                %tr
                  %td{:width=>130} National Holiday:&nbsp;
                  %td= (@holiday.national_holiday == true)?"Yes":"No"
          %tr
            %td &nbsp;