%ul
  %li= link_to 'Listing Branches', branches_path
  %li= link_to 'Add New Branch', new_branch_path
  %li= link_to 'Listing PF Groups', pf_groups_path
  %li= link_to 'Listing PT Groups', pt_groups_path
  %li= link_to 'Listing ESI Groups', esi_groups_path