#left_content
  %ul
    %li= link_to 'Back', branches_path
    %li= link_to 'Edit Branch', edit_branch_path(@branch)
    %li= link_to 'PF Group', new_branch_pf_detail_path(:branch_id => @branch.id)
#right_content
  %h1
    Showing Branch
    = link_to image_tag('/assets/edit.png',:title => "Edit Branch"), edit_branch_path(@branch)
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td{:colspan=>2}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Branch:&nbsp;
                  %td= @branch.branch_name
                %tr
                  %td{:width=>130} Address:&nbsp;
                  %td= @branch.address
                %tr
                  %td{:width=>130} PF Group:&nbsp;
                  %td= BranchPfDetail.find_all_by_branch_id(@branch.id, :order => 'created_at DESC').first.pf_group.pf_group
                -#%tr
                -#  %td{:width=>130} ESI Applicable:&nbsp;
                -#  %td= (@branch.esi_applicable==true)?"Yes":"No"
                -#-if @branch.esi_applicable == true
                -#  %tr
                -#    %td{:width=>130} ESI Group:&nbsp;
                -#    %td= @branch.esi_group_esi_group_name
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Responsible Person:&nbsp;
                  %td= @branch.responsible_person
                %tr
                  %td &nbsp;
                -#%tr
                -#  %td{:width=>130} PT Group:&nbsp;
                -#  %td= @branch.pt_group_name
                %tr
                  %td &nbsp;