:javascript
  $(document).ready(function(){
      $('.auto_focus:first').focus();
  });
#login
  %h1 Sign In
  %p
  = form_tag sessions_path do
    %table
      %tr
        %td{:class => 'td_left'}= label_tag :username, "Username"
        %td= text_field_tag :username, params[:username], :class=>'auto_focus'
      %tr
        %td{:class => 'td_left'}= label_tag :password
        %td= password_field_tag :password
      %tr
        %td{:colspan => 2, :align => "right"}= submit_tag "Sign In"