#left_content
    = render 'left'
#right_content
    %h1
        Showing PF ESI Rate
        = link_to image_tag('/assets/edit.png',:title => "Edit PF ESI Rate"), edit_pf_esi_rate_path(@pfesirate)
    %table.std_table{:cellpadding=>0,:cellspacing=>0}
        %tr
            %td.std_td
                %table
                    %tr
                        %td.std_td Month Year
                        %td.std_td= Paymonth.find(@pfesirate.paymonth_id).month_name
        %tr
            %td.std_td
                %table
                    %tr
                        %td{:colspan=>2,:class=>'form_title'} Provident Fund
                    %tr
                        %td{:width=>130} EPF(A) Rate (%) :&nbsp;
                        %td= @pfesirate.pf_rate
                    %tr
                        %td{:width=>130} Cutoff :&nbsp;
                        %td= @pfesirate.pf_cutoff
                %td.std_td
                    %table
                        %tr
                            %td{:colspan=>2,:class=>'form_title'} Employee State Information
                        %tr
                            %td{:width=>130} Employee (%) : &nbsp;
                            %td= @pfesirate.esi_employee_rate
                        %tr
                            %td{:width=>130} Employer (%) : &nbsp;
                            %td= @pfesirate.esi_employer_rate
                        %tr
                            %td{:width=>130} Cutoff : &nbsp;
                            %td= @pfesirate.esi_cutoff