#left_content
  %ul
    %li= link_to 'Back', @branch
#right_content
  %h1= "Create new ESI Group Details for Branch #{@branch.branch_name}"
  = form_for (@branch_esi_detail) do |f|
    = hidden_field_tag 'branch_esi_detail[branch_id]', @branch.id
    - if @branch_esi_detail.errors.any?
      #error_explanation
        %h2
          = pluralize(@branch_esi_detail.errors.count, "error")
          prohibited this branch esi details from being saved:
        %ul
          - @branch_esi_detail.errors.full_messages.each do |msg|
            %li= msg
    %table.std_table{:cellpadding=>0,:cellspacing=>0}
      %tr
        %td
          %table
            %tr
              %td.std_td
                %table
                  %tr
                    %td{:width=>130} ESI Group:&nbsp;
                    %td= f.select :esi_group_id, options_for_select(EsiGroup.esi_groups.collect {|esi| [ esi.esi_group_name, esi.id ] }, @branch_esi_detail.esi_group_id),:prompt => 'Select PF Group'
                  %tr
                    %td{:width=> 130} Effective Date:&nbsp;
                    %td= f.text_field :esi_effective_date, :id=>"esi_effective_date", :class=>"date_input", :include_blank => true,  :start_year => 1920, :end_year => 2010
                  %tr
                    %td &nbsp;
                  %tr
                    %td= submit_tag "Save"

    %table.std_table{:cellpadding=>0,:cellspacing=>0}
      %tr
        %td.std_td
          %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
            %tr
              - if !@branch_esi_details.empty?
                %td.table_grid_header= "ESI Group"
                %td.table_grid_header= "Effective From"
                %td.table_grid_header= "Effective To"
                %td.table_grid_header{:colspan => 2} Operations
                - sl_no = 0
                - @branch_esi_details.each do |branch_esi_detail|
                - sl_no = sl_no + 1
                  %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
                    %td.table_grid_td= EsiGroup.find(branch_esi_detail.esi_group).esi_group_name
                    %td.table_grid_td= branch_esi_detail.esi_effective_date
                    %td.table_grid_td= branch_esi_detail.effective_to
                    - if sl_no == 1
                      %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Branch ESI Details"), edit_branch_esi_detail_path(branch_esi_detail) #edit_employee_detail_path(employee_detail,:param1=>@paramempid)
                      %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Destroy Branch PF Details"), branch_esi_detail, confirm: 'Are you sure?', method: :delete