#left_content
  %ul
    %li= link_to 'Back', hr_categories_path
    %li= link_to 'Add New Label', new_hr_category_detail_path(:param1=>@hr_category_id)
#right_content
  %h1 Listing #{HrCategory.find_by_id(@hr_category_id).category_name}'s Label
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td.table_grid_header Label
            %td.table_grid_header Required
            %td.table_grid_header{:colspan => 3} Operations
          - @hr_category_details.each do |hr_category_detail|
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td= hr_category_detail.name
              %td.table_grid_td= hr_category_detail.required ? 'Yes' : 'No'
              %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit HR Category Detail"), edit_hr_category_detail_path(hr_category_detail, :param1 => @hr_category_id)
              %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Destroy HR Category Detail"), hr_category_detail, :data=>{:confirm => 'Are you sure?'}, method: :delete
        %br/
        .digg_pagination
          .page_info
            = page_entries_info @hr_category_details
          = will_paginate @hr_category_details, :container => false
    %tr
      %td &nbsp;