= form_for(@employee) do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :empname
    %br/
    = f.text_field :empname
  .field
    = f.label :date_of_joining
    %br/
    = f.date_select :date_of_joining,  :start_year => 2000, :end_year => 2014
  .field
    = f.label :date_of_leaving
    %br/
    = f.date_select :date_of_leaving, :include_blank => true,  :start_year => 2000, :end_year => 2014
  .actions
    = f.submit

