= form_for(@employee) do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Emp ID:&nbsp;
                  %td= f.text_field :refno, :size => '22'
                %tr
                  %td Father Name:&nbsp;
                  %td= f.text_field :father_name, :size => '22'
                %tr
                  %td Marital Status:&nbsp;
                  %td= f.select :marital_status, options_for_select(["Married", "Single", "Divorced"],@employee.marital_status), {:prompt => 'Select Marital Status'}
                %tr
                  %td Date of Birth:&nbsp;
                  %td= f.text_field :date_of_birth, :id=>"dob", :class=>"date_input", :include_blank => true,  :start_year => 1920, :end_year => 2010
                %tr
                  %td Date of Leaving:&nbsp;
                  %td= f.text_field :date_of_leaving, :id=>"dol", :class=>"date_input1", :include_blank => true,  :start_year => 2000, :end_year => 2014
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Employee Name:&nbsp;
                  %td= f.text_field :empname, :size => '22'
                %tr
                  %td Gender:&nbsp;
                  %td= f.select :gender, options_for_select(["Male", "Female"],@employee.gender), {:prompt => 'Select Gender'}
                %tr
                  %td Spouse Name:&nbsp;
                  %td= f.text_field :spouse_name, :size => '22'
                %tr
                  %td Date of Joining:&nbsp;
                  %td= f.text_field :date_of_joining, :id=>"doj", :class=>"date_input2", :include_blank => true,  :start_year => 2000, :end_year => 2014
          %tr
            %td.std_td
              %table
                %tr
                  %td{:colspan=>2,:class=>'form_title'} Present Address
                %tr
                  %td{:width=>130} Residence No.:&nbsp;
                  %td= f.text_field :present_res_no, :size => '22'
                %tr
                  %td{:width=>130} Street:&nbsp;
                  %td= f.text_field :present_street, :size => '22'
                %tr
                  %td{:width=>130} City:&nbsp;
                  %td= f.text_field :present_city, :size => '22'
            %td.std_td
              %table
                %tr
                  %td &nbsp
                %tr
                  %td{:width=>130} Residence Name.:&nbsp;
                  %td= f.text_field :present_res_name, :size => '22'
                %tr
                  %td{:width=>130} Locality:&nbsp;
                  %td= f.text_field :present_locality, :size => '22'
                %tr
                  %td{:width=>130} State:&nbsp;
                  %td= f.select :present_state_id, options_for_select(State.all(:order => 'state_name ASC').collect {|sn| [ sn.state_name, sn.id ] }, @employee.present_state_id), {:prompt => 'Select State'}
          %tr
            %td.std_td
              %table
                %tr
                  %td{:colspan=>2,:class=>'form_title'} Contact Information
                %tr
                  %td{:width=>130} Email:&nbsp;
                  %td= f.text_field :email, :size => '22'
            %td.std_td
              %table
                %tr
                  %td &nbsp
                %tr
                  %td{:width=>130} Mobile Number:&nbsp;
                  %td= f.text_field :mobile, :size => '22'
          %tr
            %td.std_td
              %table
                %tr
                  %td{:colspan=>2,:class=>'form_title'} Classification
                %tr
                  %td{:width=>130} Designation:&nbsp;
                  %td= f.select :designation_id, options_for_select(Designation.all(:order => 'created_at ASC').collect {|desig| [ desig.designation, desig.id ] }, @employee.designation_id), {:prompt => 'Select Designation'}
                %tr
                  %td{:width=>130} Grade:&nbsp;
                  %td= f.select :grade_id, options_for_select(Grade.all(:order => 'created_at ASC').collect {|grd| [ grd.grade, grd.id ] }, @employee.grade_id), {:prompt => 'Select Grade'}
                %tr
                  %td{:width=>130} Bank:&nbsp;
                  %td= f.select :financial_institution_id, options_for_select(FinancialInstitution.all(:order => 'created_at ASC').collect {|financial| [ financial.name, financial.id ] }, @employee.financial_institution_id), {:prompt => 'Select Payment'}
            %td.std_td
              %table
                %tr
                  %td &nbsp
                %tr
                  %td{:width=>130} Department:&nbsp;
                  %td= f.select :department_id, options_for_select(Department.all(:order => 'created_at ASC').collect {|dept| [ dept.department, dept.id ] }, @employee.department_id), {:prompt => 'Select Department'}
                %tr
                  %td{:width=>130} Branch:&nbsp;
                  %td= f.select :branch_id, options_for_select(Branch.all(:order => 'created_at ASC').collect {|branch| [ branch.branch_name, branch.id ] }, @employee.branch_id), {:prompt => 'Select Branch'}
                %tr
                  %td{:width=>130} Bank Account No.:&nbsp;
                  %td= f.text_field :bank_account_number, :size => '22'
          %tr
            %td.std_td{:colspan=>2}
              %table
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit