= form_for(employee) do |f|
  - if employee.errors.any?
    #error_explanation
      %h2
        = pluralize(employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - employee.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Emp ID:&nbsp;
                  %td= f.text_field :refno, :size => '22'
                %tr
                  %td Father Name:&nbsp;
                  %td= f.text_field :father_name, :size => '22'
                %tr
                  %td Marital Status:&nbsp;
                  %td= f.select :marital_status, options_for_select(["Married", "Single", "Divorced"],employee.marital_status), {:prompt => 'Select Marital Status'}
                %tr
                  %td Date of Birth:&nbsp;
                  - if employee.date_of_birth?
                    %td= f.text_field :date_of_birth, :id=>"dob", :value => OptionSetting.date_format_type(employee.date_of_birth,1), :class=>"date_input", :include_blank => true,  :start_year => 1920, :end_year => 2010
                  -else
                    %td= f.text_field :date_of_birth, :id=>"dob", :class=>"date_input", :include_blank => true,  :start_year => 1920, :end_year => 2010
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Employee Name:&nbsp;
                  %td{:colspan=>2}= f.text_field :empname, :size => '22'
                %tr
                  %td Gender:&nbsp;
                  %td{:colspan=>2}= f.select :gender, options_for_select(["Male", "Female"],employee.gender), {:prompt => 'Select Gender'}
                %tr
                  %td Spouse Name:&nbsp;
                  %td{:colspan=>2}= f.text_field :spouse_name, :size => '22'
                %tr
                  %td Date of Joining:&nbsp;
                  - if employee.date_of_joining?
                    %td{:colspan=>2}= f.text_field :date_of_joining, :id=>"doj", :value => OptionSetting.date_format_type(employee.date_of_joining,1), :class=>"date_input2", :include_blank => true,  :start_year => 2000, :end_year => 2014
                  -else
                    %td{:colspan=>2}= f.text_field :date_of_joining, :id=>"doj", :class=>"date_input2", :include_blank => true,  :start_year => 2000, :end_year => 2014

        %table.std_table{:cellpadding=>0,:cellspacing=>0, :style=>"border:none;"}
          %tr
            %td.std_td
              .tabber
                %div{:class=>'tabbertab',:id=>"present_addrs"}
                  %h2 Present Address
                  %div
                    %table
                      %tr
                        %td.std_td
                          %table
                            %tr
                              %td &nbsp;
                            %tr
                              %td{:width=>130} Residence No.:&nbsp;
                              %td= f.text_field :present_res_no, :size => '22'
                            %tr
                              %td{:width=>130} Street:&nbsp;
                              %td= f.text_field :present_street, :size => '22'
                            %tr
                              %td{:width=>130} City:&nbsp;
                              %td= f.text_field :present_city, :size => '22'
                        %td.std_td
                          %table
                            %tr
                              %td &nbsp
                            %tr
                              %td{:width=>130} Residence Name.:&nbsp;
                              %td= f.text_field :present_res_name, :size => '22'
                            %tr
                              %td{:width=>130} Locality:&nbsp;
                              %td= f.text_field :present_locality, :size => '22'
                            %tr
                              %td{:width=>130} State:&nbsp;
                              %td= f.select :present_state_id, options_for_select(State.all_states.collect {|sn| [ sn.state_name, sn.id ] }, employee.present_state_id), {:prompt => 'Select State'}
                %div{:class=>'tabbertab',:id=>"permnt_addrs"}
                  %h2 Permanent Address
                  %div
                    %table
                      %tr
                        %td.std_td
                          %table
                            %tr
                              %td &nbsp;
                            %tr
                              %td{:width=>130} Residence No.:&nbsp;
                              %td= f.text_field :perm_res_no, :size => '22'
                            %tr
                              %td{:width=>130} Street:&nbsp;
                              %td= f.text_field :perm_street, :size => '22'
                            %tr
                              %td{:width=>130} City:&nbsp;
                              %td= f.text_field :perm_city, :size => '22'
                        %td.std_td
                          %table
                            %tr
                              %td &nbsp
                            %tr
                              %td{:width=>130} Residence Name.:&nbsp;
                              %td= f.text_field :perm_res_name, :size => '22'
                            %tr
                              %td{:width=>130} Locality:&nbsp;
                              %td= f.text_field :perm_locality, :size => '22'
                            %tr
                              %td{:width=>130} State:&nbsp;
                              %td= f.select :perm_state_id, options_for_select(State.all_states.collect {|sn| [ sn.state_name, sn.id ] }, employee.present_state_id), {:prompt => 'Select State'}
                %div{:class=>'tabbertab',:id=>"contact_details"}
                  %h2 Contact Details
                  %div
                    %table
                      %tr
                        %td.std_td
                          %table
                            %tr
                              %td &nbsp
                            %tr
                              %td{:width=>130} Official Email:&nbsp;
                              %td= f.text_field :official_mail_id, :size => '22'
                            %tr
                              %td{:width=>130} Mobile No.:&nbsp;
                              %td= f.text_field :present_locality, :size => '22'
                        %td.std_td
                          %table
                            %tr
                              %td &nbsp
                            %tr
                              %td{:width=>130} Personal Email:&nbsp;
                              %td= f.text_field :email, :size => '22'
                            %tr
                              %td{:width=>130} Emergency Contact No.:&nbsp;
                              %td= f.text_field :emergency_contact_number, :size => '22'
                %div{:class=>'tabbertab',:id=>"ext_details"}
                  %h2 Ext Details
                  %div
                    %table
                      %tr
                        %td.std_td
                          %table
                            %tr
                              %td &nbsp;
                            %tr
                              %td Probation Period:&nbsp;
                              %td= f.text_field :probation_period, :size => '22', :onchange=>'cal_prob_complt_date(this.value)', :onblur=>'cal_prob_complt_date(this.value)'
                            %tr
                              %td Probation completion Date:&nbsp;
                              - if employee.probation_complete_date?
                                %td{:colspan=>2}= f.text_field :probation_complete_date, :id=>"probtn_date", :value => OptionSetting.date_format_type(employee.probation_complete_date,1), :class=>"date_input4", :include_blank => true,  :start_year => 2000, :end_year => 2014
                              -else
                                %td{:colspan=>2}= f.text_field :probation_complete_date, :id=>"probtn_date", :class=>"date_input4", :include_blank => true,  :start_year => 2000, :end_year => 2014
                            %tr
                              %td{:width=>130} Handicapped:&nbsp;
                              %td= f.check_box :handicapped, :size => '22'
                        %td.std_td
                          %table
                            %tr
                              %td &nbsp;
                            %tr
                              %td Date of Salary:&nbsp;
                              - if employee.salary_start_date?
                                %td{:colspan=>2}= f.text_field :salary_start_date, :id=>"sal_date", :value => OptionSetting.date_format_type(employee.salary_start_date,1), :class=>"date_input3", :include_blank => true,  :start_year => 2000, :end_year => 2014
                              - else
                                %td{:colspan=>2}= f.text_field :salary_start_date, :id=>"sal_date", :class=>"date_input3", :include_blank => true,  :start_year => 2000, :end_year => 2014
                            %tr
                              %td Confirmation Date:&nbsp;
                              - if employee.confirmation_date?
                                %td= f.text_field :confirmation_date, :id=>"conf_date", :value => OptionSetting.date_format_type(employee.confirmation_date,1), :class=>"date_input5", :include_blank => true,  :start_year => 2000, :end_year => 2014
                              - else
                              %td= f.text_field :confirmation_date, :id=>"conf_date", :class=>"date_input5", :include_blank => true,  :start_year => 2000, :end_year => 2014

                %div{:class=>'tabbertab',:id=>"Separation"}
                  %h2 Separation
                  %div
                    %table
                      %tr
                        %td.std_td
                          %table
                            %tr
                              %td &nbsp
                            %tr
                              %td Date of Leaving:&nbsp;
                              - if employee.date_of_leaving?
                                %td= f.text_field :date_of_leaving, :id=>"dol", :value => OptionSetting.date_format_type(employee.date_of_leaving,1), :class=>"date_input1", :include_blank => true,  :start_year => 2000, :end_year => 2014
                              - else
                                %td= f.text_field :date_of_leaving, :id=>"dol", :class=>"date_input1", :include_blank => true,  :start_year => 2000, :end_year => 2014
                            %tr
                              %td Date of Retirement:&nbsp;
                              - if employee.retirement_date?
                                %td= f.text_field :retirement_date, :id=>"ret_date", :value => OptionSetting.date_format_type(employee.retirement_date,1), :class=>"date_input6", :include_blank => true,  :start_year => 2000, :end_year => 2014
                              - else
                                %td= f.text_field :retirement_date, :id=>"ret_date", :class=>"date_input6", :include_blank => true,  :start_year => 2000, :end_year => 2014
                            %tr
                              %td Notice Period(days):&nbsp;
                              %td= f.text_field :notice_period
                        %td.std_td
                          %table
                            %tr
                              %td &nbsp
                            %tr
                              %td Reason for Leaving:&nbsp;
                              %td{:colspan=>2}= f.select :leaving_reason, options_for_select(["Without Reason", "On Leave","Left Service","Retired","Out of Coverage","Expired","Non Implemented area","Compliance by Immediate Employer","Suspension of work","Strike/Lockout","Retrenchment","No Work","Doesn't Belong To This Employer"],employee.leaving_reason), {:prompt => 'Select Reason'}
                            %tr
                              %td Resignation Date:&nbsp;
                              - if employee.resignation_date?
                                %td= f.text_field :resignation_date, :id=>"resignation_date", :value => OptionSetting.date_format_type(employee.resignation_date,1), :class=>"date_input7", :include_blank => true,  :start_year => 2000, :end_year => 2014
                              - else
                                %td= f.text_field :resignation_date, :id=>"resignation_date", :class=>"date_input7", :include_blank => true,  :start_year => 2000, :end_year => 2014
                            %tr
                              %td Remarks:&nbsp;
                              %td= f.text_area :remarks, :rows=>1
    %tr
      %td.std_td{:colspan=>2}
        %table
          %tr
            %td &nbsp;
          %tr
            %td{:colspan=>2}= f.submit

