%table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
  %tr
    %td.table_grid_header Ref No
    %td.table_grid_header Employee Name
    %td.table_grid_header Gender
    %td.table_grid_header DOJ
    %td.table_grid_header Email
    %td.table_grid_header
      = check_box_tag "select_all"
      Select All

  - @employeesList.each do |employeeList|
    = hidden_field_tag "employee_data[][id]",employeeList.id
    %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
      %td.table_grid_td=  employeeList.refno
      %td.table_grid_td=  employeeList.empname
      %td.table_grid_td=  employeeList.gender
      %td.table_grid_td= l employeeList.date_of_joining, :format => Global.instance.date_format_type
      %td.table_grid_td= employeeList.email
      %td.table_grid_td= check_box_tag "employee_data[][pf]", employeeList.restrct_pf ,employeeList.restrct_pf