%table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
  %tr
    %td.table_grid_header Ref No
    %td.table_grid_header Employee Name
    %td.table_grid_header Gender
    %td.table_grid_header DOJ
    %td.table_grid_header Email
    %td.table_grid_header
      = check_box_tag "select_all"
      Select All

  - for @employee_data in @employeesList
    = hidden_field_tag "employee_data[][id]",@employee_data.id
    %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
      %td.table_grid_td=  @employee_data.refno
      %td.table_grid_td=  @employee_data.empname
      %td.table_grid_td=  @employee_data.gender
      %td.table_grid_td= @employee_data.date_of_joining
      %td.table_grid_td= @employee_data.email
      %td.table_grid_td= check_box_tag "employee_data[][pf]", @employee_data.restrct_pf ,@employee_data.restrct_pf