-#@search_path=employees_path
#left_content
  %ul
    %li= link_to 'Add New Employee', new_employee_path
    %li= link_to 'Restrict PF Contribution', pf_contribution_restrict_employees_path
    %li= link_to 'Excel Upload', upload_employees_path
    %li= link_to "Generate Sample Template", generate_sample_excel_template_employees_path(:format => "xls")

#right_content
  %h1 Listing Employees
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        = render 'search', :srchpath => @srchpath
    %tr
      %td.std_td
        %div{:id => "employees"}
          =render 'employees', :collection => @employees
    %tr
      %td &nbsp;

