=link_to 'Home', root_url
%h1 Listing Employees
%table{:cellpadding => 0, :cellspacing => 0, :border => 1}
  %tr
    %th Ref No
    %th Employee Name
    %th Father's Name
    %th Marital Status
    %th Spouse Name
    %th Gender
    %th Date of Birth
    %th Date of Joining
    %th Date of Leaving
    %th Residence No
    %th Name of the Residence
    %th Street
    %th Locality
    %th City
    %th State
    %th Email
    %th Mobile
    %th{:colspan => 3} Operations
    %th Details
  - @employees.each do |employee|
    %tr
      %td= employee.refno
      %td= employee.empname
      %td= employee.father_name
      %td= employee.marital_status
      %td= employee.spouse_name
      %td= employee.gender
      %td= employee.date_of_birth
      %td= employee.date_of_joining
      %td= employee.date_of_leaving
      %td= employee.present_res_no
      %td= employee.present_res_name
      %td= employee.present_street
      %td= employee.present_locality
      %td= employee.present_city
      %td= employee.present_state.state_name
      %td= employee.email
      %td= employee.mobile
      %td= link_to 'Show', employee
      %td= link_to 'Edit', edit_employee_path(employee)
      %td= link_to 'Destroy', employee, confirm: 'Are you sure?', method: :delete
      %td= link_to 'Details', employee_details_path(:param1=>employee.id)
%br/
= link_to 'New Employee', new_employee_path
