#left_content
  %ul
    %li Left Content
#right_content
  %h1 Employee Master Report
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        = form_tag report_employees_path, :method => :get do
          - if @classification_headings != nil
            %fieldset
              %legend Search By
              %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
                %tr
                  %td{:colspan=>3}
                  - @classification_headings.each do |ch|
                    -#= render :partial => 'classification', :locals => { :ch => ch }
                    %td= ch.classification_heading_name
                    %td= select_tag "report[classification][#{ch.id}]",options_from_collection_for_select(Classification.where(:classification_heading_id => ch.id),"id","classification_name"), :prompt => "Select #{ch.classification_heading_name}"
          %fieldset
            %legend Report Type
            %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
              %tr
                %td{:colspan=>6}
                  - flash.each do |name, msg|
                    = content_tag :div, msg, :id => "flash_#{name}"
              %tr
                %td{:width => "100px"} Date of Joining
                %td= radio_button_tag :report_type, 'date_of_joining'
                %td{:width => "100px"} Date of Leaving
                %td= radio_button_tag :report_type, 'date_of_leaving'
                %td{:width => "100px"} Date of Birth
                %td= radio_button_tag :report_type, 'date_of_birth'
              %tr
                %td{:width => "100px"} Contact Details
                %td= radio_button_tag :report_type, 'Contact'
              %tr
                %td= hidden_field_tag :format, "pdf"

          = submit_tag("Generate Report")