#left_content
  %ul
    %li= link_to 'Back', employees_path
    %li= link_to 'Edit Employee', edit_employee_path(@employee)
  %hr
  %ul
    - if !@statutory.nil?
      %li= link_to 'Statutory Details', edit_employee_statutory_path(:employee_id => @employee.id)
    - else
      %li= link_to 'Statutory Details', new_employee_employee_statutories_path(:employee_id => @employee.id)
    %li= link_to 'Add Employee Classification', employee_details_path(:param1 => @employee.id)

  %p{:style=>"padding-left:5px;text-decoration:underline;"} HR Details
  %ul
    - if @hr_categories
      - @hr_categories.each do |hr_category|
        %li= link_to hr_category.category_name, new_hr_master_path(:hr_category_id => hr_category.id, :employee_id => @employee.id)

#right_content
  %table
    %tr
      %td{:colspan=>4}
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
  %h1
    Employee Details
    = link_to image_tag('/assets/edit.png',:title => "Edit Employee"), edit_employee_path(@employee)
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Emp ID:&nbsp;
                  %td= @employee.refno
                %tr
                  %td Father Name:&nbsp;
                  %td= @employee.father_name
                %tr
                  %td Marital Status:&nbsp;
                  %td= @employee.marital_status
                %tr
                  %td Date of Birth:&nbsp;
                  %td
                    - if @employee.date_of_birth?
                      = l @employee.date_of_birth, :format => Global.instance.date_format_type
                    - else
                      = ""

            %td.std_td
              %table
                %tr
                  %td{:width=>130} Employee Name:&nbsp;
                  %td{:colspan=>2}= @employee.empname
                %tr
                  %td Gender:&nbsp;
                  %td{:colspan=>2}= @employee.gender
                %tr
                  %td Spouse Name:&nbsp;
                  %td{:colspan=>2}= @employee.spouse_name
                %tr
                  %td Date of Joining:&nbsp;
                  %td{:colspan=>2}
                    - if @employee.date_of_joining?
                      = l @employee.date_of_joining, :format => Global.instance.date_format_type
                    - else
                      = ""

        %table.std_table{:cellpadding=>0,:cellspacing=>0, :style=>"border:none;"}
          %tr
            %td.std_td
              .tabber
                %div{:class=>'tabbertab',:id=>"present_addrs"}
                  %h2 Present Address
                  %div
                    %table
                      %tr
                        %td.std_td
                          %table
                            %tr
                              %td{:width=>130} Residence No.:&nbsp;
                              %td= @employee.present_res_no
                            %tr
                              %td{:width=>130} Street:&nbsp;
                              %td= @employee.present_street
                            %tr
                              %td{:width=>130} City:&nbsp;
                              %td= @employee.present_city
                        %td.std_td
                          %table
                            %tr
                              %td{:width=>130} Residence Name.:&nbsp;
                              %td= @employee.present_res_name
                            %tr
                              %td{:width=>130} Locality:&nbsp;
                              %td= @employee.present_locality
                            %tr
                              %td{:width=>130} State:&nbsp;
                              %td= @employee.present_state_state_name
                %div{:class=>'tabbertab',:id=>"permnt_addrs"}
                  %h2 Permanent Address
                  %div
                    %table
                      %tr
                        %td.std_td
                          %table
                            %tr
                              %td{:width=>130} Residence No.:&nbsp;
                              %td= @employee.perm_res_no
                            %tr
                              %td{:width=>130} Street:&nbsp;
                              %td= @employee.perm_street
                            %tr
                              %td{:width=>130} City:&nbsp;
                              %td= @employee.perm_city
                        %td.std_td
                          %table
                            %tr
                              %td{:width=>130} Residence Name.:&nbsp;
                              %td= @employee.perm_res_name
                            %tr
                              %td{:width=>130} Locality:&nbsp;
                              %td= @employee.perm_locality
                            %tr
                              %td{:width=>130} State:&nbsp;
                              - if !@employee.perm_state_id.nil?
                              - x= State.find(@employee.perm_state_id)
                                %td= x.state_name
                              - else
                                %td
                %div{:class=>'tabbertab',:id=>"contact_details"}
                  %h2 Contact Details
                  %div
                    %table
                      %tr
                        %td.std_td
                          %table
                            %tr
                              %td{:width=>130} Official Email:&nbsp;
                              %td= @employee.official_mail_id
                            %tr
                              %td{:width=>130} Mobile No.:&nbsp;
                              %td= @employee.present_locality
                        %td.std_td
                          %table
                            %tr
                              %td{:width=>130} Personal Email:&nbsp;
                              %td= @employee.email
                            %tr
                              %td{:width=>130} Emergency Contact No.:&nbsp;
                              %td= @employee.emergency_contact_number
                %div{:class=>'tabbertab',:id=>"ext_details"}
                  %h2 Ext Details
                  %div
                    %table
                      %tr
                        %td.std_td
                          %table
                            %tr
                              %td Probation Period:&nbsp;
                              %td= @employee.probation_period
                            %tr
                              %td Probation completion Date:&nbsp;
                              %td
                                - if @employee.probation_complete_date?
                                  = l @employee.probation_complete_date, :format => Global.instance.date_format_type
                                - else
                                  = ""
                            %tr
                              %td{:width=>130} Handicapped:&nbsp;
                              %td= @employee.handicapped == true ? "Yes" : "No"
                        %td.std_td
                          %table
                            %tr
                              %td Date of Salary:&nbsp;
                              %td{:colspan=>2}
                                - if @employee.salary_start_date?
                                  = l @employee.salary_start_date, :format => Global.instance.date_format_type
                                - else
                                  = ""
                            %tr
                              %td Confirmation Date:&nbsp;
                              %td
                                - if @employee.confirmation_date?
                                  = l @employee.confirmation_date, :format => Global.instance.date_format_type
                                - else
                                  = ""

                %div{:class=>'tabbertab',:id=>"Separation"}
                  %h2 Separation
                  %div
                    %table
                      %tr
                        %td.std_td
                          %table
                            %tr
                              %td Date of Leaving:&nbsp;
                              %td
                                - if @employee.date_of_leaving != nil
                                  = l @employee.date_of_leaving, :format => Global.instance.date_format_type
                                - else
                                  = ""
                            %tr
                              %td Date of Retirement:&nbsp;
                              %td
                                - if @employee.retirement_date?
                                  = l @employee.retirement_date, :format => Global.instance.date_format_type
                                - else
                                  = ""
                            %tr
                              %td Notice Period(days):&nbsp;
                              %td= @employee.notice_period
                        %td.std_td
                          %table
                            %tr
                              %td Reason for Leaving:&nbsp;
                              %td{:colspan=>2}= @employee.leaving_reason
                            %tr
                              %td Resignation Date:&nbsp;
                              %td
                                -if @employee.resignation_date?
                                  = l @employee.resignation_date, :format => Global.instance.date_format_type
                                - else
                                  = ""
                            %tr
                              %td Remarks:&nbsp;
                              %td= @employee.remarks



  %br
  - if !@statutory.nil?
    %h1
      Employee Statutory Details
      = link_to image_tag('/assets/edit.png',:title => "Edit Employee Statutory Details"), edit_employee_statutory_path(:employee_id => @employee.id)
    %table.std_table{:cellpadding=>0,:cellspacing=>0}
      %tr
        %td
          = render 'statutory', :statutory => @statutory
