%p
  %b Employee Name:
  = @employee.empname
%p
  %b Date of Joining:
  = @employee.date_of_joining
%p
  %b Date of Leaving:
  = @employee.date_of_leaving
= link_to 'Edit', edit_employee_path(@employee)
|
\#{link_to 'Back', employees_path}

