#left_content
  %ul
    %li= link_to 'Back', employees_path
    %li= link_to 'Edit Employee', edit_employee_path(@employee)
  %hr
  %ul
    - if !@statutory.nil?
      %li= link_to 'Statutory Details', edit_employee_statutory_path(:employee_id => @employee.id)
    - else
      %li= link_to 'Statutory Details', new_employee_employee_statutories_path(:employee_id => @employee.id)
    %li= link_to 'Add Employee Details', employee_details_path(:param1 => @employee.id)

  %p{:style=>"padding-left:5px;text-decoration:underline;"} HR Details
  %ul
    - if @hr_categories
      - @hr_categories.each do |hr_category|
        %li= link_to hr_category.category_name, new_hr_master_path(:hr_category_id => hr_category.id, :employee_id => @employee.id)

#right_content
  %h1
    Employee Details
    = link_to image_tag('/assets/edit.png',:title => "Edit Employee"), edit_employee_path(@employee)
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Emp ID:&nbsp;
                  %td= @employee.refno
                %tr
                  %td Father Name:&nbsp;
                  %td= @employee.father_name
                %tr
                  %td Marital Status:&nbsp;
                  %td= @employee.marital_status
                %tr
                  %td Date of Birth:&nbsp;
                  %td= l @employee.date_of_birth, :format => :default
                %tr
                  %td Date of Leaving:&nbsp;
                  %td
                    - if @employee.date_of_leaving != nil
                      = l @employee.date_of_leaving, :format => :default
                    - else
                      = ""
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Employee Name:&nbsp;
                  %td= @employee.empname
                %tr
                  %td Gender:&nbsp;
                  %td= @employee.gender
                %tr
                  %td Spouse Name:&nbsp;
                  %td= @employee.spouse_name
                %tr
                  %td Date of Joining:&nbsp;
                  %td= l @employee.date_of_joining, :format => :default
          %tr
            %td.std_td
              %table
                %tr
                  %td{:colspan=>2,:class=>'form_title'} Present Address
                %tr
                  %td{:width=>130} Residence No.:&nbsp;
                  %td= @employee.present_res_no
                %tr
                  %td{:width=>130} Street:&nbsp;
                  %td= @employee.present_street
                %tr
                  %td{:width=>130} City:&nbsp;
                  %td= @employee.present_city
            %td.std_td
              %table
                %tr
                  %td &nbsp
                %tr
                  %td{:width=>130} Residence Name.:&nbsp;
                  %td= @employee.present_res_name
                %tr
                  %td{:width=>130} Locality:&nbsp;
                  %td= @employee.present_locality
                %tr
                  %td{:width=>130} State:&nbsp;
                  %td= @employee.present_state_state_name
          %tr
            %td.std_td
              %table
                %tr
                  %td{:colspan=>2,:class=>'form_title'} Contact Information
                %tr
                  %td{:width=>130} Email:&nbsp;
                  %td= @employee.email
            %td.std_td
              %table
                %tr
                  %td &nbsp
                %tr
                  %td{:width=>130} Mobile Number:&nbsp;
                  %td= @employee.mobile
  %br
  - if !@statutory.nil?
    %h1
      Employee Statutory Details
      = link_to image_tag('/assets/edit.png',:title => "Edit Employee Statutory Details"), edit_employee_statutory_path(:employee_id => @employee.id)
    %table.std_table{:cellpadding=>0,:cellspacing=>0}
      %tr
        %td{:colspan=>4}
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
      %tr
        %td
          = render 'statutory', :statutory => @statutory
