<h1>Listing salary_totals</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Month year</th>
    <th>Alloted gross</th>
    <th>Earned</th>
    <th>Deducted</th>
    <th>Net salary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @salary_totals.each do |salary_total| %>
  <tr>
    <td><%= salary_total.employee_id %></td>
    <td><%= salary_total.month_year_id %></td>
    <td><%= salary_total.alloted_gross %></td>
    <td><%= salary_total.earned %></td>
    <td><%= salary_total.deducted %></td>
    <td><%= salary_total.net_salary %></td>
    <td><%= link_to 'Show', salary_total %></td>
    <td><%= link_to 'Edit', edit_salary_total_path(salary_total) %></td>
    <td><%= link_to 'Destroy', salary_total, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Salary total', new_salary_total_path %>
