%h1 Listing salary_totals
%table{:cellpadding => 0, :cellspacing => 0, :border => 1}
  %tr
    %th Employee
    %th Month year
    %th Alloted gross
    %th Earned
    %th Deducted
    %th Net salary
    -#%th
    -#%th
    -#%th
  - @salary_totals.each do |salary_total|
    %tr
      %td= salary_total.employee_id
      %td= salary_total.month_year_id
      %td= salary_total.alloted_gross
      %td= salary_total.earned
      %td= salary_total.deducted
      %td= salary_total.net_salary
      -#%td= link_to 'Show', salary_total
      -#%td= link_to 'Edit', edit_salary_total_path(salary_total)
      -#%td= link_to 'Destroy', salary_total, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Salary total', new_salary_total_path

