= form_for(employee_statutory) do |f|
  - if employee_statutory.errors.any?
    #error_explanation
      %h2
        = pluralize(employee_statutory.errors.count, "error")
        prohibited this employee statutory from being saved:
      %ul
        - employee_statutory.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td{:colspan=>4}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
          %tr
            %td.msg{:style=>"padding:5px 0 0 13px"} Note : After creation of PAN, it can not be deleted.
          %tr
            %td.std_td
              %table
                %tr
                  %td PAN:&nbsp;
                  - if display_panoption
                    %td= select_tag "panoption", options_for_select(["ADD PAN","PAN Applied", "PAN Invalid", "PAN Not Avbl"]),:prompt => 'Select', :onchange => "pan_style_change(this.value)"
                  %td= f.text_field :pan,:style=>"width:90px"
                  %td= f.hidden_field :employee_id
                %tr
                  %td PF No.:&nbsp;
                  %td{:colspan=>2}= f.text_field :pf_number, :size => '25', :onchange => 'enabledisable("employee_statutory_pf_number","pf_ed")'
                %tr
                  %td ESI No.:&nbsp;
                  %td{:colspan=>2}= f.text_field :esi_number, :size => '25', :onchange => 'enabledisable("employee_statutory_esi_number","esi_ed")'
                %tr
                  %td Zero PT
                  %td= f.check_box :zero_pt



            %td.std_td
              %table
                %tr
                  %td#pandate Effective Date(PAN):&nbsp;
                  %td= f.text_field :pan_effective_date, :id=>"pan_ed", :class=>"date_input"
                %tr
                  %td#pfdate Effective Date(PF):&nbsp;
                  %td= f.text_field :pf_effective_date, :id=>"pf_ed" , :class=>"date_input"
                %tr
                  %td#esidate Effective Date(ESI):&nbsp;
                  %td= f.text_field :esi_effective_date, :id=>"esi_ed", :class=>"date_input"
                %tr
                  %td Zero Pension
                  %td= f.check_box :zero_pension
          %tr
            %td.std_td{:colspan=>2}
              %table
                %tr
                  %td{:style=>"width:80px"} Volunteer PF
                  %td{:style=>"width:20px"}= f.check_box :vol_pf, :onclick=>'check_vpf(this.id)'
                  %td#vpf_percent_lbl Percentage (%)
                  %td= check_box_tag 'chk_vol_pf_pertg','',chk_pf_percentg,:onclick=>'check_based_on(this.id)'
                  %td= f.hidden_field :vol_pf_percentage
                  %td= f.hidden_field :vol_pf_amount
                  %td= f.hidden_field :based_on
                  %td#based_on_grs_lbl Based on Gross
                  %td{:style=>"width:20px"}= radio_button_tag 'based_on', 'basedon_gross'
                  %td#based_on_pf_lbl Based on PF
                  %td{:style=>"width:20px"}= radio_button_tag 'based_on', 'basedon_pf'
                  %td= text_field_tag :vol_pf_value, vpf_value, :width=>'50'
          %tr
            %td.std_td{:colspan=>2}
              %table
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit







