:javascript
  $(document).ready(function()
  {
     pan = document.getElementById('employee_statutory_pan').value
     document.getElementById('panoption').value = pan
     pan_style_change(pan)
     enabledisable('employee_statutory_pan','pan_ed')
     enabledisable('employee_statutory_pf_number','pf_ed')
     enabledisable('employee_statutory_esi_number','esi_ed')
  });

  function pan_style_change(pan)
  {
    if(pan == 'PAN Invalid' || pan == 'PAN Applied' || pan == 'PAN Not Avbl' || pan == '')
    {
       document.getElementById('employee_statutory_pan').style.display = 'none';
       document.getElementById('employee_statutory_pan').value = ''
       document.getElementById('pan_ed').value = ''
       enabledisable_pan('pan_ed',true)
    }
    else //if(pan == "ADD PAN" )
    {
       document.getElementById('employee_statutory_pan').style.display = ''
       enabledisable_pan('pan_ed',false)
    }
  }
  function enabledisable_pan(inputid,val)
  {
    document.getElementById(inputid).disabled = val;
  }

  function enabledisable(inputvalue,inputid)
  {
     if(document.getElementById(inputvalue).value == '')
     {
       document.getElementById(inputid).value = '';
       document.getElementById(inputid).disabled = true;
     }
     else
      document.getElementById(inputid).disabled = false;
  }

= form_for(employee_statutory) do |f|
  - if employee_statutory.errors.any?
    #error_explanation
      %h2
        = pluralize(employee_statutory.errors.count, "error")
        prohibited this employee statutory from being saved:
      %ul
        - employee_statutory.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td{:colspan=>4}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
          %tr
            %td.std_td
              %table
                %tr
                  %td PAN:&nbsp;
                  %td= select_tag "panoption", options_for_select(["ADD PAN","PAN Applied", "PAN Invalid", "PAN Not Avbl"]),:prompt => 'Select', :onchange => "pan_style_change(this.value)"
                  %td= f.text_field :pan,:style=>"width:90px"
                  %td= f.hidden_field :employee_id
                %tr
                  %td PF No.:&nbsp;
                  %td{:colspan=>2}= f.text_field :pf_number, :size => '25', :onchange => 'enabledisable("employee_statutory_pf_number","pf_ed")'
                %tr
                  %td ESI No.:&nbsp;
                  %td{:colspan=>2}= f.text_field :esi_number, :size => '25', :onchange => 'enabledisable("employee_statutory_esi_number","esi_ed")'
            %td.std_td
              %table
                %tr
                  %td#pandate Effective Date(PAN):&nbsp;
                  %td= f.text_field :pan_effective_date, :id=>"pan_ed", :class=>"date_input"
                %tr
                  %td#pfdate Effective Date(PF):&nbsp;
                  %td= f.text_field :pf_effective_date, :id=>"pf_ed" , :class=>"date_input"
                %tr
                  %td#esidate Effective Date(ESI):&nbsp;
                  %td= f.text_field :esi_effective_date, :id=>"esi_ed", :class=>"date_input"
          %tr
            %td.std_td{:colspan=>2}
              %table
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit







