= form_for(esi_group_rate) do |f|
  - if esi_group_rate.errors.any?
    #error_explanation
    %h2
      = pluralize(esi_group_rate.errors.count, "error")
      prohibited this ESI Group Rate from being saved:
    %ul
      - esi_group_rate.errors.full_messages.each do |msg|
        %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:style=>"width:130px"} Effective Month:&nbsp;
                  -if esi_group_rate.id == nil
                    %td= f.select :paymonth_id, options_for_select(Paymonth.months.collect {|pm| [ pm.month_name, pm.id ]}, esi_group_rate.paymonth_id),:prompt => "Select Effective Month"
                  -else
                    %td= @month_name
          %tr
            %td.std_td
              %table
                %tr
                  %td Employee Rate(%):&nbsp;
                  %td
                    = f.text_field :employee_rate, :size => '22'
                    = f.hidden_field :esi_group_id, :value => param_esi_group_id
                %tr
                  %td Cut off :&nbsp;
                  %td= f.text_field :cut_off, :size => '22'
                %tr
                  %td Minimum Limit(daily wage) :&nbsp;
                  %td= f.text_field :minimum_limit_dailywage, :size => '22'
            %td.std_td
              %table
                %tr
                  %td Employer Rate(%):&nbsp;
                  %td= f.text_field :employer_rate, :size => '22'
                %tr
                  %td Round off:&nbsp;
                  %td= f.select :round_off, options_for_select(['Higher Rupee'], esi_group_rate.round_off),:prompt => 'Select Round off Group'
          %tr
            %td.std_td{:colspan=>2}
              %table
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit
