= form_for(leave_taken) do |f|
  - if leave_taken.errors.any?
    #error_explanation
    %h2
      = pluralize(leave_taken.errors.count, "error")
      prohibited this leave from being saved:
    %ul
      - leave_taken.errors.full_messages.each do |msg|
        %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td{:style=>"width:100%"}
              %table
                %tr
                  %td{:style=>"width:130px"} Employee:&nbsp;
                  %td{:style=>"width:200px"}= f.select :employee_id, options_for_select(Employee.employees.collect{|em| [em.empname_and_refno,em.id]},leave_taken.employee_id),{:prompt => 'Select'}
                  %td{:style=>"width:130px"} Effective Date:&nbsp
                  %td= f.text_field :from_date, :id=>"leave_from_date", :class=>"date_input"
                %tr
                  %td Leave Count:&nbsp
                  %td= f.text_field :count,:style=>"width:145px"
                  %td LOP Count:&nbsp
                  %td= f.text_field :lop_count,:style=>"width:145px"

          %tr
            %td.std_td{:colspan=>3}
              %table
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>3}= f.submit "Save"
