%script
  $(document).ready(function(){
  $(".salAllotEarn").each(function() {
  $(this).keyup(function(){
  calculateSum(".salAllotEarn", "#earning_total");
  });
  });
  $(".salAllotDeduct").each(function() {
  $(this).keyup(function(){
  calculateSum(".salAllotDeduct", "#deduction_total");
  });
  });
  });

  function calculateSum(field_class,sum_id) {
  var sum = 0;
  $(field_class).each(function() {
  if(!isNaN(this.value) && this.value.length!=0) {
  sum += parseFloat(this.value);
  }
  });
  $(sum_id).val(sum.toFixed(2));
  }

  function hide_editor()
  {
  document.getElementById("salary_rate").style.display = "none";
  document.getElementById("salary_structure").style.display = "none";
  }
#left_content
  %ul
    %li= link_to "Back", salary_allotments_path
#right_content
  %h1 Salary Rate for #{@emp_name}
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        &nbsp;
    %tr
      %td.std_td
        = form_tag edit_salary_allotment_path(params[:id]), :method => :get do
          %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
            = hidden_field_tag "salAllotment[][id]", params[:id]
            %tr
              %td{:style=>"width:130px;"} Effective Form
              %td{:style=>"width:130px;"}= select_tag "month_year", options_from_collection_for_select(Paymonth.months,'month_name','month_name', @effective_date),:prompt => 'Select Pay Month',:onchange=>"hide_editor()"
              %td= submit_tag "Get Rate"
    %tr
      %td.std_td
        #salary_structure
          %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
            %tr
              %td.bold_txt{:style=>"width:130px;"} Salary Structure:
              %td.bold_txt= @salary_group
    %tr
      %td.std_td
        #salary_rate
          = form_tag salary_allotments_path, :method => :put do
            %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
              %tr
                %td.table_grid_header{:style=>"width:180px"} Salary Heads
                %td.table_grid_header{:style=>"width:180px"} Short Name
                %td.table_grid_header{:style=>"width:180px"} Salary Head Type
                %td.table_grid_header{:style=>"width:180px"} Salary Allotment
              - @allotSal_earnings.each do |allotSal_earn|
                = hidden_field_tag "salAllotment[][id]", allotSal_earn.id
                = hidden_field_tag "salAllotment[][month_year]", @effective_date
                = hidden_field_tag "salAllotment[][employee_id]", allotSal_earn.employee_id
                = hidden_field_tag "salAllotment[][employee_detail_id]", allotSal_earn.employee_detail_id
                = hidden_field_tag "salAllotment[][salary_head_id]", allotSal_earn.salary_head_id
                = hidden_field_tag "salAllotment[][salary_group_detail_id]", allotSal_earn.salary_group_detail_id
                %tr
                  %td.table_grid_td= allotSal_earn.salaryHead
                  %td.table_grid_td= allotSal_earn.shortName
                  %td.table_grid_td{:style=>"color: #468847"}= allotSal_earn.salaryHeadType
                  -if allotSal_earn.salary_group_detail.calc_type == "Formula" || allotSal_earn.salary_group_detail.calc_type == "Every Month"
                    - values = {:GROSS => allotSal_earn.employee_detail.allotted_gross}
                    - f = allotSal_earn.generation_formula
                    - calc_value = Evaluator.formula f,values

                    %td.table_grid_td= text_field_tag 'salAllotment[][salary_allotment]',calc_value,:readonly=>"readonly"
                  -else
                    %td.table_grid_td= text_field_tag 'salAllotment[][salary_allotment]', (allotSal_earn.salary_allotment!=0)?number_with_precision(allotSal_earn.salary_allotment, :precision => 2):"",:onblur=>"calculate_value(this.id)",:class=>"salAllotEarn"
              %tr
                %td
                %td
                %td{:colspan=>2}
                  %table
                    %tr
                      %td{:style=>"padding-left:4px;font-weight:bold;width:180px;color: #468847"} Earnings Total:
                      %td.table_grid_td= text_field_tag 'earning_total'
              - @allotSal_deductions.each do |allotSal_deduct|
                = hidden_field_tag "salAllotment[][id]", allotSal_deduct.id
                = hidden_field_tag "salAllotment[][month_year]", @effective_date
                = hidden_field_tag "salAllotment[][employee_id]", allotSal_deduct.employee_id
                = hidden_field_tag "salAllotment[][employee_detail_id]", allotSal_deduct.employee_detail_id
                = hidden_field_tag "salAllotment[][salary_head_id]", allotSal_deduct.salary_head_id
                = hidden_field_tag "salAllotment[][salary_group_detail_id]", allotSal_deduct.salary_group_detail_id
                %tr
                  %td.table_grid_td= allotSal_deduct.salaryHead
                  %td.table_grid_td= allotSal_deduct.shortName
                  %td.table_grid_td{:style=>"color: #e9322d"}= allotSal_deduct.salaryHeadType
                  -if allotSal_deduct.salary_group_detail.calc_type == "Formula" || allotSal_deduct.salary_group_detail.calc_type == "Every Month"
                    - values = {:GROSS => allotSal_deduct.employee_detail.allotted_gross}
                    - f = allotSal_deduct.generation_formula
                    - calc_value = Evaluator.formula f,values

                    %td.table_grid_td= text_field_tag 'salAllotment[][salary_allotment]',calc_value,:readonly=>"readonly"
                  -else
                    %td.table_grid_td= text_field_tag 'salAllotment[][salary_allotment]', (allotSal_deduct.salary_allotment!=0)?number_with_precision(allotSal_deduct.salary_allotment, :precision => 2):"",:class=>"salAllotDeduct"
              - if @allotSal_deductions.count != 0
                %tr
                  %td
                  %td
                  %td{:colspan=>2}
                    %table
                      %tr
                        %td{:style=>"padding-left:4px;font-weight:bold;width:180px;color: #e9322d"} Deductions Total:
                        %td.table_grid_td= text_field_tag 'deduction_total'
              %tr
                %td
                  = submit_tag "Save"
                  = hidden_field_tag :selected, @param_selected_tab