:javascript
  function setFocus()
  {
      selected = document.getElementById('selected_tab').value;
      if (selected == "allotted")
      document.getElementById("sal_allotted").className += " tabbertabdefault"
      else
      document.getElementById('sal_not_allotted').className += " tabbertabdefault"
  }
  $(document).ready(function() {
    setFocus();
  });
#left_content
  %ul
    %li= link_to "Theoretical Salary Upload", upload_salary_allotments_path
    %li= link_to "Generate Sample Template", generate_sample_excel_template_salary_allotments_path(:format => "xls")
#right_content
  = hidden_field_tag "selected_tab", @param_selected_tab
  %h1 Employee's - Salary Rate Master
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td.std_td
        .tabber
          %div{:class=>'tabbertab',:id=>'sal_not_allotted'}
            %h2 Listing Employee (Salary not Allotted)
            %div
              %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
                %tr
                  %td.table_grid_header Ref No
                  %td.table_grid_header Employee Name
                  %td.table_grid_header DOJ
                  %td.table_grid_header Operation
                - @need_to_allot_Sal.each do |not_allot_sal|
                  %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
                    %td.table_grid_td= not_allot_sal.refno
                    %td.table_grid_td= not_allot_sal.empname
                    %td.table_grid_td
                      - if not_allot_sal.date_of_joining?
                        = l not_allot_sal.date_of_joining, :format => Global.instance.date_format_type
                      - else
                        = l not_allot_sal.date_of_joining
                    %td.table_grid_icon= link_to "Allot Salary", edit_salary_allotment_path(not_allot_sal.id)
            .digg_pagination
              .page_info
                = page_entries_info @need_to_allot_Sal
              = will_paginate @need_to_allot_Sal, :container => false
          %div{:class=>'tabbertab',:id=>"sal_allotted"}
            %h2 Listing Employee (Salary Allotted)
            %div
              %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
                %tr
                  %td.table_grid_header Ref No
                  %td.table_grid_header Employee Name
                  %td.table_grid_header DOJ
                  %td.table_grid_header Operation
                - @already_allot_Sal.each do |allotted_sal|
                  %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
                    %td.table_grid_td= allotted_sal.refno
                    %td.table_grid_td= allotted_sal.empname
                    %td.table_grid_td
                      - if allotted_sal.date_of_joining?
                        = l allotted_sal.date_of_joining, :format => Global.instance.date_format_type
                      - else
                        = l allotted_sal.date_of_joining
                    %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Allotted Salary"), edit_salary_allotment_path(allotted_sal.id,:param1=>@param_selected_tab)
            .digg_pagination
              .page_info
                = page_entries_info @already_allot_Sal
              = will_paginate @already_allot_Sal, :container => false,:params=>{:param1=>"allotted"}
    %tr
      %td &nbsp;

