#left_content
  %ul
    %li= link_to 'Back', option_settings_path
#right_content
  %h1
    Edit Option Settings
    = link_to image_tag('/assets/show.png',:title => "Show Option Settings"), option_settings_path
  = form_for(@option_setting) do |f|
    - if @option_setting.errors.any?
      #error_explanation
        %h2
          = pluralize(@option_setting.errors.count, "error")
          prohibited this option_setting from being saved:
        %ul
          - @option_setting.errors.full_messages.each do |msg|
            %li= msg
    %table.std_table{:cellpadding=>0,:cellspacing=>0}
      %tr
        %td.std_td{:colspan=>4}
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
      %tr
        %td.std_td
          %table.std_table{:cellpadding=>0,:cellspacing=>0, :style=>"border:none;"}
            %tr
              %td
                .tabber
                  %div{:class=>'tabbertab',:id=>"country_settings"}
                    %h2 Country Settings
                    %div
                      %table
                        %tr
                          %td.std_td{:style=>"width:55%"}
                            %table
                              =form_for currency_option_settings_path, :id => "currency_form" do
                                = render "country", :collection => @currency
                              %tr
                                %td{:width=>130} Time Zone:&nbsp;
                                %td= f.select :time_zone, options_for_select(ActiveSupport::TimeZone.all.collect { |tym_zon| [tym_zon, tym_zon]},@option_setting.time_zone), {:prompt => 'Select Time Zone'}
                          %td.std_td
                            %div{:id => "options"}
                              = render "currency", :collection => @currency
                  %div{:class=>'tabbertab',:id=>"module_selection"}
                    %h2 Module Selection
                    %div
                      %table
                        %tr
                          %td.std_td
                            %table
                              %tr
                                %td Recruitment:&nbsp;
                                %td= f.check_box :recruitment
                              %tr
                                %td Leave Attendance Management:&nbsp;
                                %td= f.check_box :lv_atdn_mgmt
                              %tr
                                %td Appraisal:&nbsp;
                                %td= f.check_box :appraisal
                          %td.std_td
                            %table
                              %tr
                                %td Training:&nbsp;
                                %td= f.check_box :training
                              %tr
                                %td Help_desk:&nbsp;
                                %td= f.check_box :help_desk
                              %tr
                                %td Travel_cummute:&nbsp;
                                %td= f.check_box :travel_cummute

                  %div{:class=>'tabbertab',:id=>"general_settings"}
                    %h2 General Settings
                    %div
                      %table
                        %tr
                          %td.std_td
                            %table
                              %tr
                                %td PF Applicable:&nbsp;
                                %td= f.check_box :pf_applicable
                              %tr
                                %td ESI Applicable:&nbsp;
                                %td= f.check_box :esi_applicable
                              %tr
                                %td PT Applicable:&nbsp;
                                %td= f.check_box :pt_applicable
                              %tr
                                %td Multiple State PT:&nbsp;
                                %td= f.check_box :multi_state_pt, :disabled => true
                              %tr
                                %td Multiple PT:&nbsp;
                                %td= f.check_box :multi_pt, :disabled => true
                              %tr
                                %td TDS Applicable:&nbsp;
                                %td= f.check_box :tds_applicable
                          %td.std_td
                            %table
                              %tr
                                %td Voluntary PF:&nbsp;
                                %td= f.check_box :voluntary_pf, :disabled => true
                              %tr
                                %td Multi Branch:&nbsp;
                                %td= f.check_box :multi_branch
                              %tr
                                %td Multi HR:&nbsp;
                                %td= f.check_box :multi_hr
                              %tr
                                %td Salary Calculation:&nbsp;
                                %td= f.text_field :salary_calc
                              %tr
                                %td Allow Branch Admin:&nbsp;
                                %td= f.check_box :allow_brnch_admin
                              %tr
                                %td Approval Flow:&nbsp;
                                %td= f.check_box :approval_flow
                              %tr
                                %td Audit Trail:&nbsp;
                                %td= f.check_box :audit_trail
                  %div{:class=>'tabbertab',:id=>"sub_modules"}
                    %h2 Sub Modules
                    %div
                      %table
                        %tr
                          %td.std_td
                            %table
                              %tr
                                %td Reimbursement:&nbsp;
                                %td= f.check_box :remibursement
                              %tr
                                %td Bonus And Exgratia:&nbsp;
                                %td= f.check_box :bonus_and_exgratia
                              %tr
                                %td Gratuity:&nbsp;
                                %td= f.check_box :gratuity
                              %tr
                                %td Loans and Advance:&nbsp;
                                %td= f.check_box :loans_adv
                          %td.std_td
                            %table
                              %tr
                                %td Arrears:&nbsp;
                                %td= f.check_box :arrears
                              %tr
                                %td Attendance Integration:&nbsp;
                                %td= f.check_box :attdn_intgration
                              %tr
                                %td Asset Tracker:&nbsp;
                                %td= f.check_box :asset_tracker
            %tr
              %td &nbsp;
            %tr
              %td= f.submit
            %tr
              %td &nbsp;


