= form_for(@designation) do |f|
  - if @designation.errors.any?
    #error_explanation
      %h2
        = pluralize(@designation.errors.count, "error")
        prohibited this designation from being saved:
      %ul
        - @designation.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td Designation:&nbsp;
                  %td= f.text_field :designation, :size => '22'
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit

