#left_content
  %ul
    %li= link_to 'Add New State', new_state_path
#right_content
  %h1 Listing States
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        %table.table_grid{:width=>500, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td{:colspan=>4}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
          %tr
            %td.table_grid_header{:width=> 360} State Name
            %td.table_grid_header{:colspan =>3} Operations
          - @states.each do |state|
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td= state.state_name
              %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit State"), edit_state_path(state)
              %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Destroy State"), state, confirm: 'Are you sure?', method: :delete
        %br/
        .digg_pagination
          .page_info
            = page_entries_info @states
          = will_paginate @states, :container => false
    %tr
      %td &nbsp;
