#left_content
  = render "left"
#right_content
  %h1 Listing Departments
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        %table.table_grid{:width=>500, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td.table_grid_header{:width=> 360} Department
            %td.table_grid_header{:colspan =>3} Operations
          - @departments.each do |dept|
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td= dept.department
              %td.table_grid_td= link_to image_tag('/assets/show.png',:title => "Show Department"), dept
              %td.table_grid_td= link_to image_tag('/assets/edit.png',:title => "Edit Department"), edit_department_path(dept)
              %td.table_grid_td= link_to image_tag('/assets/delete.png',:title => "Destroy Department"), dept, confirm: 'Are you sure?', method: :delete
        %br/
        .digg_pagination
          .page_info
            = page_entries_info @departments
          = will_paginate @departments, :container => false
    %tr
      %td &nbsp;
