= form_for(salary_group) do |f|
  - if salary_group.errors.any?
    #error_explanation
      %h2
        = pluralize(salary_group.errors.count, "error")
        prohibited this salary_group from being saved:
      %ul
        - salary_group.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td
              %table
                %tr
                  %td{:width=>180} Salary Structure Name:&nbsp;
                  %td= f.text_field :salary_group_name, :size => '22'
                %tr
                  %td Based on Gross:&nbsp;
                  %td= f.check_box :based_on_gross
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit 'Save Salary Structure'

