#left_content
  %ul
    %li= link_to 'Add New Salary Group', new_salary_group_path
#right_content
  %h1 Listing Salary Groups
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        %table.table_grid{:width=>557, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td.table_grid_header Salary Group Name
            %td.table_grid_header Based on Gross
            %td.table_grid_header{:colspan => 4} Operations
          - @salary_groups.each do |salary_group|
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td= salary_group.salary_group_name
              %td.table_grid_td= (salary_group.based_on_gross==true)?"Yes":"No"
              %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Salary Group"), edit_salary_group_path(salary_group)
              %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Destroy Salary Group"), salary_group, confirm: 'Are you sure?', method: :delete
              %td.table_grid_icon= link_to image_tag('/assets/settings.png',:title => "Salary Group Configuration"), salary_group_details_path(:param1=>salary_group.id)
        %br/
        .digg_pagination
          .page_info
            = page_entries_info @salary_groups
          = will_paginate @salary_groups, :container => false
    %tr
      %td &nbsp;
