= link_to 'Home', root_url
%h1= "Bulk Import: LOP"
= form_tag file_upload_lops_path, :method => 'post', :multipart => true do |f|
  %table
    %tr
      %td= file_field_tag "my_file"
    %tr
      %td= submit_tag("Upload")