%h1 "Welcome to Saral Web Payroll System"

%p= link_to 'Company', companies_path
%p= link_to 'Salary Group', salary_groups_path
%p= link_to 'Salary Head', salary_heads_path
%p= link_to 'Salary Group Configuration', salary_group_details_path
%p= link_to 'Employee', employees_path
%p= link_to 'Salary Allotment', salary_allotments_path
%p= link_to 'Import LOP', lops_path
-#%p= link_to 'Salary Editor', new_salary_path
-#%p= link_to 'Generate Salary', salaries_path


