#left_content
  %ul
    %li= link_to 'Back', pt_groups_path
    %li= link_to 'Add New PT Rate', new_pt_group_rate_path(:pt_group_id => @pt_group.id)
#right_content
  %h1
    Showing
    =@pt_group.name
    's Rate
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td.std_td
        %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td &nbsp;
          %tr
            %td.table_grid_header Sl No
            %td.table_grid_header Effective From
            %td.table_grid_header Effective To
            %td.table_grid_header Slab
          - sl_no = 0
          - @pt_group_rates.each do |pt_group_rate|
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td= sl_no = sl_no + 1
              %td.table_grid_td= Date.strptime(pt_group_rate.paymonth.month_name,"%b/%Y").beginning_of_month
              %td.table_grid_td= @pt_group.to_date(pt_group_rate.paymonth_id) ? @pt_group.to_date(pt_group_rate.paymonth_id) : 'Till Date'
              %td.table_grid_icon= link_to image_tag('/assets/settings.png',:title => "PT Rate Details"), pt_rates_path(:paymonth_id => pt_group_rate.paymonth_id, :pt_group_id => pt_group_rate.pt_group_id)
    %tr
      %td &nbsp;

