#left_content
  = render 'left'
#right_content
  %h1 Editing Generated Salary of #{Employee.find(params[:employee_id]).empname} for #{params[:month_year]}
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        = form_tag salaries_path, :method => :put do
          %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
            %tr
              %td.table_grid_header Salary Heads
              %td.table_grid_header Short Name
              %td.table_grid_header Salary Head Type
              %td.table_grid_header Salary Amount
            - @salary.each do |sal|
              = hidden_field_tag "salary[][id]", sal.id
              = hidden_field_tag "salary[][employee_id]", sal.employee_id
              = hidden_field_tag "salary[][employee_detail_id]", sal.employee_detail_id
              = hidden_field_tag "salary[][effective_date]", sal.effective_date
              = hidden_field_tag "salary[][salary_head_id]", sal.salary_head_id
              %tr
                %td.table_grid_td= sal.salary_head_head_name
                %td.table_grid_td= sal.salary_head_short_name
                %td.table_grid_td= sal.salary_head_salary_type
                - if sal.salary_group_detail.calc_type == "Every Month"
                  %td.table_grid_td= text_field_tag 'salary[][salary_amount]', sal.salary_amount
                - else
                  %td.table_grid_td= text_field_tag 'salary[][salary_amount]', sal.salary_amount, :readonly=>"readonly"
            %tr
              %td
                &nbsp;
            %tr
              %td= submit_tag "Update Salary"