#left_content
  = render 'left'
#right_content
  %h1
    Employee-wise Salary Details
    - if params[:month_year] && params[:employee_id]
      = link_to image_tag('/assets/edit.png',:title => "Edit Salary"), edit_salaries_path(:month_year => params[:month_year], :employee_id => params[:employee_id])
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td.std_td
        = form_tag salaries_path, :method => :get do
          %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td &nbsp;
            %tr
              %td{:width => "100px"} Employee
              %td{:width => "200px"}= select_tag "employee_id", options_from_collection_for_select(Employee.order('created_at ASC'),'id','empname', params[:employee_id]),:prompt => 'Select Employee'
            %tr
              %td{:width => "100px"} Pay Months
              %td{:width => "100px"}
                = select_tag "month_year", options_from_collection_for_select(Paymonth.order('created_at ASC'),'month_name','month_name', params[:month_year]),:prompt => 'Select Pay Month'
            %tr
              %td
                = submit_tag("Generate Salary")
            %tr
              %td
                &nbsp;
        - if params[:month_year] && params[:employee_id]
          - gross_total = 0
          - deduction_total = 0
          %table.table_grid{:width=>540, :cellpadding => 0, :cellspacing => 3}
            %tr
              %td.table_grid_header Earnings
              %td.table_grid_header Deduction
            %tr
              %td.std_td{:style=>"width:270px;"}
                %table
                  - @salary_earning.each do |salary|
                    %tr
                      %td{:width=>170}= salary.salary_head.head_name
                      %td{:style=>"text-align:right;"}= number_with_precision(salary.salary_amount, :precision => 2, :delimiter => ',')
                      - gross_total =   gross_total + salary.salary_amount.to_f
              %td.std_td{:valign => 'top',:style=>"width:270px;"}
                %table
                  - @salary_deduction.each do |salary|
                    %tr
                      %td{:width=>170}= salary.salary_head.head_name
                      %td{:style=>"text-align:right;"}= number_with_precision(salary.salary_amount, :precision => 2, :delimiter => ',')
                      - deduction_total = deduction_total + salary.salary_amount.to_f
                  - if @pt_amount
                    %tr
                      %td{:width=>170} PT
                      %td{:style=>"text-align:right;"}=  number_with_precision(@pt_amount, :precision => 2, :delimiter => ',')
                      - deduction_total = deduction_total + @pt_amount.to_f
                  %tr
                    %td{:width=>170} PF
                    %td{:style=>"text-align:right;"}=  number_with_precision(@pf_amount, :precision => 2, :delimiter => ',')
                    - deduction_total = deduction_total + @pf_amount.to_f
                  - if @esi_amount
                    %tr
                      %td ESI
                      %td{:style=>"text-align:right;"}= number_with_precision(@esi_amount, :precision => 2, :delimiter => ',')
                      - deduction_total = deduction_total + @esi_amount.to_f

            %tr
              %td.std_td{:style=>"width:270px;"}
                %table
                  %tr
                    %td{:width=>170,:class=>"bold_txt"}Total Earnings
                    %td{:style=>"text-align:right;"}= number_with_precision(gross_total, :precision => 2, :delimiter => ',')
              %td.std_td{:valign => 'top',:style=>"width:270px;"}
                %table
                  %tr
                    %td{:width=>170,:class=>"bold_txt"}Total Deductions
                    %td{:style=>"text-align:right;"}= number_with_precision(deduction_total, :precision => 2, :delimiter => ',')
          %table.table_grid{:width=>540, :cellpadding => 0, :cellspacing => 3}
            %tr
              %td{:colspan=>2}
                %hr
            %tr
              %td.std_td{:class=>"bold_txt"} Net Salary
              %td{:class=>"bold_txt"}= number_with_precision(gross_total-deduction_total, :precision => 2, :delimiter => ',')
          %table.table_grid{:width=>740, :cellpadding => 0, :cellspacing => 3}
            %tr
              %td{:align=>'right'}= link_to 'Generate Payslip', salaries_path(:month_year => params[:month_year],:employee_id => params[:employee_id], :format => "pdf")
            %tr
              %td &nbsp;