#left_content
  = render 'left'
#right_content
  %h1 Salary Editor
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td.std_td
        = form_tag new_salary_path, :method => :get do
          %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td &nbsp;
            %tr
              %td{:colspan=>2}
                - flash.each do |name, msg|
                  = content_tag :div, msg, :id => "flash_#{name}"
            %tr
              %td{:valign=>"top",:style=>"width:45%"}
                %table
                  %tr
                    %td{:style=>"width:130px"} Pay Months:
                    %td= select_tag "month_year", options_from_collection_for_select(Paymonth.months,'month_name','month_name', params[:month_year]),:prompt => 'Select Pay Month'
              %td
                %table
                  %tr
                    %td
                      %td{:valign=>"top",:style=>"width:130px"} Salary Groups:
                      %td= select_tag "salary_group", options_from_collection_for_select(SalaryGroup.assigned_salary_group,'id','salary_group_name', params[:salary_group]),:size => "4", :style=>"width:300px;height:100px;",:prompt => 'Select Select Group'
            %tr
              %td
                = submit_tag("Get Salary")
    - if params[:month_year] && params[:salary_group]
    - head_count = @employee_salary_calc_header.count
      = form_tag salaries_path, :method => :post do
        %tr
          %td.std_td
            #table_wrappper
              #inner_table_wrapper
                %table.table_grid{:cellpadding => 0, :cellspacing => 3}
                  = hidden_field_tag "month_year", params[:month_year]
                  %tr
                    %td.table_grid_header Emp ID
                    %td.table_grid_header Emp Name
                    %td.table_grid_header Pay Days
                    %td.table_grid_header Present Days
                    - @employee_salary_calc_header.each do |header|
                      %td.table_grid_header= header.head_name
                  - j=0
                  - @employee_salary_calc.each do |employee|
                    %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
                      %td.table_grid_td= employee[:refno]
                      %td.table_grid_td= employee[:empname]
                      %td.table_grid_td= text_field_tag "salary[#{j}][][pay_days]", employee[:pay_days],:readonly=>"readonly"
                      %td.table_grid_td= text_field_tag "salary[#{j}][][present_days]", employee[:present_days],:readonly=>"readonly"
                      - if employee[:salary_allotment].count == 0
                        = hidden_field_tag "salary[#{j}][][employee_id]", employee[:id]
                      - (0..head_count-1).each do |i|
                        = hidden_field_tag "salary[#{j}][][employee_id]", employee[:salary_allotment][i][:employee_id]
                        = hidden_field_tag "salary[#{j}][][employee_detail_id]", employee[:salary_allotment][i][:employee_detail_id]
                        = hidden_field_tag "salary[#{j}][][effective_date]", employee[:salary_allotment][i][:effective_date]
                        = hidden_field_tag "salary[#{j}][][salary_head_id]", employee[:salary_allotment][i][:salary_head_id]
                        = hidden_field_tag "salary[#{j}][][salary_group_detail_id]", employee[:salary_allotment][i][:salary_group_detail_id]
                        %td.table_grid_td= text_field_tag "salary[#{j}][][salary_amount]", employee[:salary_allotment][i][:salary_allotment]
                      - j=j+1
        %tr
          %td.std_td= submit_tag "Process Salary"

    %tr
      %td &nbsp;