#left_content
  = render 'left'
#right_content
  %h1 Salary Editor
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td.std_td
        = form_tag new_salary_path, :method => :get do
          %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td &nbsp;
            %tr
              %td{:colspan=>2}
                - flash.each do |name, msg|
                  = content_tag :div, msg, :id => "flash_#{name}"
            %tr
              %td{:width => "100px"} Employee
              %td{:width => "200px"}= select_tag "employee_id", options_from_collection_for_select(Employee.order('created_at ASC'),'id','empname', params[:employee_id]),:prompt => 'Select Employee'
            %tr
              %td{:width => "100px"} Pay Months
              %td{:width => "100px"}
                = select_tag "month_year", options_from_collection_for_select(Paymonth.order('created_at DESC'),'month_name','month_name', params[:month_year]),:prompt => 'Select Pay Month'
            %tr
              %td
                = submit_tag("Get Salary")
            %tr
              %td
                &nbsp;
        - if params[:month_year] && params[:employee_id]
          = form_tag salaries_path, :method => :post do
            %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
              = hidden_field_tag "month_year", params[:month_year]
              %tr
                %td.table_grid_header Salary Heads
                %td.table_grid_header Short Name
                %td.table_grid_header Salary Head Type
                %td.table_grid_header Salary Allotment
              - if @salary_allotments
                - @salary_allotments.each do |sal_allot|
                  = hidden_field_tag "salary[][employee_id]", sal_allot.employee_id
                  = hidden_field_tag "salary[][employee_detail_id]", sal_allot.employee_detail_id
                  = hidden_field_tag "salary[][effective_date]", sal_allot.effective_date
                  = hidden_field_tag "salary[][salary_head_id]", sal_allot.salary_head_id
                  = hidden_field_tag "salary[][salary_group_detail_id]", sal_allot.salary_group_detail_id
                  %tr
                    %td.table_grid_td= sal_allot.salary_head_head_name
                    %td.table_grid_td= sal_allot.salary_head_short_name
                    %td.table_grid_td= sal_allot.salary_head_salary_type
                    %td.table_grid_td= text_field_tag 'salary[][salary_amount]', sal_allot.salary_allotment
                %tr
                  %td
                    &nbsp;
                %tr
                  %td= submit_tag "Generate Salary"
              - else
                %tr
                  %td.table_grid_td{:style => "color:#FF0000",:colspan=>4} Salary already Generated for selected month !!!