= form_for(company) do |f|
  - if company.errors.any?
    #error_explanation
      %h2
        = pluralize(company.errors.count, "error")
        prohibited this company from being saved:
      %ul
        - company.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Name:&nbsp;
                  %td= f.text_field :companyname, :size => '22'
                %tr
                  %td Estd. Date:&nbsp;
                  %td
                    -#= l f.text_field :dateofestablishment, :id=>"doe", :class=>"date_input", :start_year => 1980, :end_year => 2012, :format => Global.instance.date_format
                    - if company.dateofestablishment?
                      = f.text_field :dateofestablishment, :id=>"doe", :class=>"date_input", :value => OptionSetting.date_format_type(company.dateofestablishment,1), :start_year => 1980, :end_year => 2012
                    - else
                      = f.text_field :dateofestablishment, :id=>"doe", :class=>"date_input", :start_year => 1980, :end_year => 2012
                %tr
                  %td Address Line 1:&nbsp;
                  %td= f.text_field :address, :size => '22'
                %tr
                  %td Address Line 2:&nbsp;
                  %td= f.text_field :address2, :size => '22'
                %tr
                  %td Address Line 3:&nbsp;
                  %td= f.text_field :address3, :size => '22'
                %tr
                  %td &nbsp;
                %tr
                  %td PF Applicability:&nbsp;
                  %td= f.check_box :pf
                %tr
                  %td ESI Applicability:&nbsp;
                  %td= f.check_box :esi
                %tr
                  %td &nbsp;
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Resp. Person:&nbsp;
                  %td= f.text_field :responsible_person, :size => '22'
                %tr
                  %td Phone Number 1:&nbsp;
                  %td= f.text_field :phonenumber1, :size => '22'
                %tr
                  %td Phone Number 2:&nbsp;
                  %td= f.text_field :phonenumber2, :size => '22'
                %tr
                  %td Email:&nbsp;
                  %td= f.text_field :email, :size => '22'
                %tr
                  %td Website:&nbsp;
                  %td= f.text_field :website, :size => '22'
                %tr
                  %td &nbsp;
                %tr
                  %td PT Applicability:&nbsp;
                  %td= f.check_box :pt
                %tr
                  %td TDS Applicability:&nbsp;
                  %td= f.check_box :tds
          %tr
            %td.std_td{:colspan=>2}
              %table
                %tr
                  %td{:colspan=>2}= image_tag(company.photo.url(:logo))
                %tr
                  %td Company Logo:&nbsp;
                  %td= f.file_field :photo
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit

