#left_content
    - if @company
        %ul
            %li= link_to 'Back', companies_path
#right_content
    %h1
        Select Backup Option
    %table.std_table{:cellpadding=>0,:cellspacing=>0}
        %tr
            %td
                = form_tag backup_option_companies_path do |f|
                    %table
                        %tr
                            %td
                                %table
                                    -["Skeleton", "Data Backup"].each do |bkp_optn|
                                        %tr
                                            %td
                                                = radio_button_tag "backup_option", bkp_optn
                                                #{bkp_optn}
                                    %tr
                                        %td &nbsp;
                                    %tr
                                        %td= submit_tag "Take Backup"
        %tr
            %td
                %h1{:style=>"width:300px; background:none;color:#054A87"}
                    Previous Backups:
                %table
                    %tr
                        %td.std_td
                            %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
                                %tr
                                    %td.table_grid_header Backup On
                                    %td.table_grid_header Employees Count
                                    %td.table_grid_header Last Salary Calculated On
                                    %td.table_grid_header Backup Option
                                -@backup_utils.each do |bck_util|
                                    %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
                                        %td.table_grid_td=l bck_util.backup_date, :format => Global.instance.date_format_type
                                        %td.table_grid_td= bck_util.employees_count
                                        %td.table_grid_td=l bck_util.last_sal_calculated, :format => :type2
                                        %td.table_grid_td= bck_util.backup_option