#left_content
    - if @company
        %ul
            %li= link_to 'Edit Company', edit_company_path(@company.id)
            %li= link_to 'Documents', documents_list_companies_path(:id => @company.id)
            %li= link_to 'Backup', backup_companies_path
            %li= link_to "Restore Backup", upload_companies_path
#right_content
    = render "breadcrumb"
    - if @company
        %h1
            Company Details
            = link_to image_tag('/assets/edit.png',:title => "Edit Company"), edit_company_path(@company.id)
        %table.std_table{:cellpadding=>0,:cellspacing=>0}
            %tr
                %td
                    %table
                        %tr
                            %td.std_td
                                %table
                                    %tr
                                        %td Name:&nbsp;
                                        %td= @company.companyname
                                    %tr
                                        %td Estd. Date:&nbsp;
                                        - if @company.dateofestablishment?
                                            %td= l @company.dateofestablishment, :format => Global.instance.date_format_type
                                        -else
                                            %td= @company.dateofestablishment
                                    %tr
                                        %td Address:&nbsp;
                                        %td= @company.address + ", " + @company.address2 + ", " + @company.address3
                                    %tr
                                        %td Website:&nbsp;
                                        %td= @company.website
                                    %tr
                                        %td &nbsp;
                                    %tr
                                        %td PF Applicability:&nbsp;
                                        %td= @company.pf == true ? "Yes" : "No"
                                    %tr
                                        %td ESI Applicability:&nbsp;
                                        %td= @company.esi == true ? "Yes" : "No"
                                    %tr
                                        %td &nbsp;
                                    %tr
                                        %td Company Logo:&nbsp;
                                        %td= image_tag(@company.photo.url(:logo))
                            %td.std_td
                                %table
                                    %tr
                                        %td Resp. Person:&nbsp;
                                        %td= @company.responsible_person
                                    %tr
                                        %td Phone Number:&nbsp;
                                        %td= @company.phonenumber1 + ", " + @company.phonenumber2
                                    %tr
                                        %td Email:&nbsp;
                                        %td= @company.email
                                    %tr
                                        %td &nbsp;
                                    %tr
                                        %td &nbsp;
                                    %tr
                                        %td PT Applicability:&nbsp;
                                        %td= @company.pt == true ? "Yes" : "No"
                                    %tr
                                        %td TDS Applicability:&nbsp;
                                        %td= @company.tds == true ? "Yes" : "No"

    - else
        %br/
        %br/
        = link_to 'Create a new Company', new_company_path