= link_to 'Home', root_url

- if @company
    %h1 Company Details
    %h3= "Name : " + @company.companyname
    %h4= "Responsible Person : " + @company.responsible_person
    %h4= "Date of Establishment : " + @company.dateofestablishment.to_s
    %h4= "Phone Number 1 : " + @company.phonenumber1
    %h4= "Phone Number 2 : " + @company.phonenumber2
    %h4= "Address 1 : " + @company.address
    %h4= "Address 2 : " + @company.address2
    %h4= "Address 3 : " + @company.address3
    %h4= "Email : " + @company.email
    %h4= "Website : " + @company.website
    %p
        %b
            PF Applicability :
            = @company.pf == true ? "Yes" : "No"
        %p
        %b
            PT Applicability :
            = @company.pt == true ? "Yes" : "No"
        %p
        %b
            ESI Applicability :
            = @company.esi == true ? "Yes" : "No"
        %p
        %b
            TDS Applicability :
            = @company.tds == true ? "Yes" : "No"
    %p
        %h4= image_tag(@company.photo.url(:logo))

    =link_to 'Edit', edit_company_path(@company.id)
- else
    %br/
    %br/
    = link_to 'Create a new Company', new_company_path