#left_content
  %ul
    %li= link_to 'Back', upload_companies_path
#right_content
  -if @bkup_util
    %h1 Backup File Details
    = form_tag(:controller => "companies", :action => "restore_backup") do |f|
      = hidden_field_tag "file", @file.path
      = hidden_field_tag "backup_option", @bkup_util.backup_option
      %table.std_table{:cellpadding=>0,:cellspacing=>0}
        %tr
          %td
            %table
              %tr
                %td.table_grid_header Backup On
                %td.table_grid_header Employees Count
                %td.table_grid_header Last Salary Calculated On
                %td.table_grid_header Backup Option
              %tr
                %td.table_grid_td=l @bkup_util.backup_date, :format => Global.instance.date_format_type
                %td.table_grid_td= @bkup_util.employees_count
                %td.table_grid_td=l @bkup_util.last_sal_calculated, :format => :type2
                %td.table_grid_td= @bkup_util.backup_option
              %tr
                %td &nbsp;
              %tr
                %td{:colspan=>2}= submit_tag "Restore Backup"
  -else
    %h1{:style => "background-color:#e9322d"} Backup File is Invalid