= form_for(@month_year) do |f|
  - if @month_year.errors.any?
    #error_explanation
      %h2
        = pluralize(@month_year.errors.count, "error")
        prohibited this month_year from being saved:
      %ul
        - @month_year.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :month_name
    %br/
    = f.text_field :month_name
  .actions
    = f.submit
