<%= form_for(@month_year) do |f| %>
  <% if @month_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@month_year.errors.count, "error") %> prohibited this month_year from being saved:</h2>

      <ul>
      <% @month_year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :month_year %><br />
    <%= f.number_field :month_year %>
  </div>
  <div class="field">
    <%= f.label :number_of_days %><br />
    <%= f.number_field :number_of_days %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br />
    <%= f.date_select :from_date %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br />
    <%= f.date_select :to_date %>
  </div>
  <div class="field">
    <%= f.label :month_name %><br />
    <%= f.text_field :month_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
