<h1>Listing month_years</h1>

<table>
  <tr>
    <th>Month year</th>
    <th>Number of days</th>
    <th>From date</th>
    <th>To date</th>
    <th>Month name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @month_years.each do |month_year| %>
  <tr>
    <td><%= month_year.month_year %></td>
    <td><%= month_year.number_of_days %></td>
    <td><%= month_year.from_date %></td>
    <td><%= month_year.to_date %></td>
    <td><%= month_year.month_name %></td>
    <td><%= link_to 'Show', month_year %></td>
    <td><%= link_to 'Edit', edit_month_year_path(month_year) %></td>
    <td><%= link_to 'Destroy', month_year, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Month year', new_month_year_path %>
