%p#notice= notice
%p
  %b Number of days:
  = @month_year.number_of_days
%p
  %b From date:
  = @month_year.from_date
%p
  %b To date:
  = @month_year.to_date
%p
  %b Month name:
  = @month_year.month_name
|
\#{link_to 'Back', month_years_path}
