<p id="notice"><%= notice %></p>

<p>
  <b>Month year:</b>
  <%= @month_year.month_year %>
</p>

<p>
  <b>Number of days:</b>
  <%= @month_year.number_of_days %>
</p>

<p>
  <b>From date:</b>
  <%= @month_year.from_date %>
</p>

<p>
  <b>To date:</b>
  <%= @month_year.to_date %>
</p>

<p>
  <b>Month name:</b>
  <%= @month_year.month_name %>
</p>


<%= link_to 'Edit', edit_month_year_path(@month_year) %> |
<%= link_to 'Back', month_years_path %>
