= form_for(classification) do |f|
  - if classification.errors.any?
    #error_explanation
      %h2
        = pluralize(classification.errors.count, "error")
        prohibited this department from being saved:
      %ul
        - classification.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td Classification Name:&nbsp;
                  %td
                    = f.text_field :classification_name, :size => '22'
                    = f.hidden_field :classification_heading_id, :value => paramclassification_id
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit