#left_content
  %ul
    %li= link_to 'New Leave definition', new_leave_definition_path
#right_content
  %h1 Listing Leave Definitions
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td{:colspan=>4}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
          %tr
            %td.table_grid_header Leave Name
            %td.table_grid_header Short Name
            %td.table_grid_header{:colspan =>2} Operations
          - @leave_definitions.each do |leave_definition|
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td= leave_definition.leave_name
              %td.table_grid_td= leave_definition.short_name
              %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Definition"), edit_leave_definition_path(leave_definition)
              %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Destroy Definition"), leave_definition, confirm: 'Are you sure?', method: :delete
        %br/
        .digg_pagination
          .page_info
            = page_entries_info @leave_definitions
          = will_paginate @leave_definitions, :container => false
    %tr
      %td &nbsp;
