= form_for(@employee_detail) do |f|
  - if @employee_detail.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee_detail.errors.count, "error")
        prohibited this salary_group from being saved:
      %ul
        - @employee_detail.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td
              %table
                %tr
                  %td{:width=>180} Effective Date:&nbsp;
                  %td
                    = f.date_select :effective_date
                    = f.hidden_field :employee_id, :value => @paramempid
                %tr
                  %td Salary Group:&nbsp;
                  %td= f.select :salary_group_id, options_for_select(SalaryGroup.all(:order => 'id ASC').collect {|sg| [ sg.salary_group_name, sg.id ] },@employee_detail.salary_group_id), {:prompt => 'Select Salary Group'}
                %tr
                  %td Allotted Gross:&nbsp;
                  %td= f.text_field :allotted_gross
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit
