= form_for(employee_detail) do |f|
  - if employee_detail.errors.any?
    #error_explanation
      %h2
        = pluralize(employee_detail.errors.count, "error")
        prohibited this Employee Classification from being saved:
      %ul
        - employee_detail.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td
              %table
                %tr
                  %td.std_td
                    %table
                      %tr
                        %td{:width=>130} Effective From:&nbsp;
                        %td
                          - if employee_detail.effective_date?
                            = f.text_field :effective_date, :id=>"sed", :class=>"date_input",:value => OptionSetting.date_format_type(employee_detail.effective_date,1)
                          - else
                            = f.text_field :effective_date, :id=>"sed", :class=>"date_input"
                          = f.hidden_field :employee_id, :value => paramempid
                      %tr
                        %td Salary Group:&nbsp;
                        %td= f.select :salary_group_id, options_for_select(SalaryGroup.salary_groups.collect {|sg| [ sg.salary_group_name, sg.id ] },employee_detail.salary_group_id), {:prompt => 'Select Salary Group'}
                      %tr
                        %td Branch:&nbsp;
                        %td= f.select :branch_id, options_for_select(Branch.branches.collect {|branch| [ branch.branch_name, branch.id ] },employee_detail.branch_id), {:prompt => 'Select Branch'}
                      %tr
                        %td International Worker:&nbsp;
                        %td= f.check_box :international_worker

                  %td.std_td
                    %table
                      %tr
                        %td{:width => 130} Effective To:&nbsp;
                        %td= f.text_field :effective_to, :disabled => true, :value => 'Till Date'
                      -#%tr
                      -#  %td Allotted Gross:&nbsp;
                      -#  %td= f.text_field :allotted_gross
                      %tr
                        %td Attn. Structure:&nbsp;
                        %td= f.select :attendance_configuration_id , options_for_select(AttendanceConfiguration.attendances.collect {|att_config| [ att_config.attendance, att_config.id ] },employee_detail.attendance_configuration_id), {:prompt => 'Select Attendance Configuration'},:editable => true
                      %tr
                        %td Bank :&nbsp;
                        %td= f.select :financial_institution_id, options_for_select(FinancialInstitution.financial_institutions.collect {|fi| [ fi.name, fi.id ] },employee_detail.financial_institution_id), {:prompt => 'Select Financial Institution'}
                      %tr
                        %td Bank A/c No.:&nbsp;
                        %td= f.text_field :bank_account_number
                %tr
                  %td.std_td
                    %table
                      %tr
                        %td{:colspan=>2}
                          - classification_headings.each do |ch|
                            = render 'classification', :ch => ch, :employee_detail => employee_detail,:show_yn=>false
                      %tr
                        %td &nbsp;
                      %tr
                        %td{:colspan=>2}= f.submit


