#left_content
  %ul
    %li= link_to 'Back', employees_path
    %li= link_to 'Add New Detail', new_employee_detail_path(:param1 => @paramempid)
#right_content
  %h1 Listing Details for #{Employee.find_by_id(@paramempid).empname}
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td{:colspan=>4}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
          %tr
            %td.table_grid_header Effective From
            %td.table_grid_header Effective To
            %td.table_grid_header Salary Group
            %td.table_grid_header Allotted Gross
            %td.table_grid_header{:colspan => 2} Operations
          - sl_no = 0
          - @employee_details.each do |employee_detail|
          - sl_no = sl_no + 1
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td= employee_detail.effective_date
              %td.table_grid_td= employee_detail.effective_to != nil ? employee_detail.effective_to : 'Till Date'
              %td.table_grid_td= employee_detail.salary_group.salary_group_name
              %td.table_grid_td= employee_detail.allotted_gross
              - if sl_no == 1
                %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Employee Details"), edit_employee_detail_path(employee_detail,:param1=>@paramempid)
                %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Destroy Employee Details"), employee_detail, confirm: 'Are you sure?', method: :delete
        %br/
        .digg_pagination
          .page_info
            = page_entries_info @employee_details
          = will_paginate @employee_details, :container => false
    %tr
      %td &nbsp;

