%h1 Listing employee_details
%table{:cellpadding => 0, :cellspacing => 0, :border => 1}
  %tr
    %th Employee
    %th Effective date
    %th Salary group
    %th Allotted gross
    %th{:colspan => 2} Operations
  - @employee_details.each do |employee_detail|
    %tr
      %td= employee_detail.employee.empname
      %td= employee_detail.effective_date
      %td= employee_detail.salary_group.salary_group_name
      %td= employee_detail.allotted_gross
      %td= link_to 'Show', employee_detail
      -#%td= link_to 'Edit', edit_employee_detail_path(employee_detail)
      %td= link_to 'Destroy', employee_detail, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'Employees', employees_path
%br/
= link_to 'New Employee detail', new_employee_detail_path(:param2 => @paramempid)
