%p
  %b Employee:
  = @employee_detail.employee_empname
%p
  %b Effective Date:
  = @employee_detail.effective_date
%p
  %b Salary Group:
  = @employee_detail.salary_group_salary_group_name
%p
  %b Allotted Gross:
  = @employee_detail.allotted_gross
= link_to 'Edit', edit_employee_detail_path(@employee_detail)
|
= link_to 'Back', employee_details_path(:param1=>@paramempid)
