#left_content
  = render 'left'
#right_content
  %h1 Listing Leaves
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        %table.table_grid{:width=>500, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td.table_grid_header Employee ID
            %td.table_grid_header Ref. No.
            %td.table_grid_header Employee Name
            %td.table_grid_header Leave Date
            %td.table_grid_header{:colspan =>2} Operations
          - @leave_details.each do |leave|
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td= leave.employee_id
              %td.table_grid_td= leave.employee_refno
              %td.table_grid_td= leave.employee_empname
              %td.table_grid_td= leave.leave_date
              %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Detail"), edit_leave_detail_path(leave)
              %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Destroy Detail"), leave, confirm: 'Are you sure?', method: :delete
        %br/
        .digg_pagination
          .page_info
            = page_entries_info @leave_details
          = will_paginate @leave_details, :container => false
    %tr
      %td &nbsp;