=link_to 'Home', root_url
|
=link_to 'Bulk upload', upload_leave_details_path
- unless @errors.empty?
  %h1 Failure
  %ul
    - @errors.each do |error|
      %li
        Problems in line number #{error[0]}:
        - error[1].full_messages.each do |msg|
          %p
            = msg
- else
  %h1 Success
= form_tag save_leave_details_path do
  %table{:cellpadding => 0, :cellspacing => 0, :border => 1}
    %tr
      %th Employee Id
      %th Employee Name
      %th Leave Date
    - @leaves.each do |leave|
      %tr
        %td= leave.employee_id
        %td= Employee.find(leave.employee_id).empname
        %td= leave.leave_date
        %input{:name => "leave_details[][employee_id]", :value => leave.employee_id, :type => "hidden"}
        %input{:name => "leave_details[][leave_date]", :value => leave.leave_date, :type => "hidden"}
  - if @errors.empty?
    = submit_tag "Save Leaves"