= form_for(@salary_head) do |f|
  - if @salary_head.errors.any?
    #error_explanation
      %h2
        = pluralize(@salary_head.errors.count, "error")
        prohibited this salary_head from being saved:
      %ul
        - @salary_head.errors.full_messages.each do |msg|
          %li= msg
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Head Name:&nbsp;
                  %td= f.text_field :head_name, :size => '22'
                %tr
                  %td{:width=>130} Salary Type:&nbsp;
                  %td= f.text_field :salary_type, :size => '22'
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Short Name:&nbsp;
                  %td= f.text_field :short_name, :size => '22'
          %tr
            %td.std_td{:colspan=>2}
              %table
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit