#left_content
  %ul
    %li= link_to 'Add New Salary Head', new_salary_head_path
#right_content
  %h1 Listing Salary Heads
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td.msg{:style=>"padding:5px 0 0 13px"} Note : PF and ESI is already been created by default
    %tr
      %td.std_td
        .tabber
          %div{:class=>'tabbertab',:id=>'earnings'}
            %h2 Earnings
            %div
              %table.table_grid{:width=>600, :cellpadding => 0, :cellspacing => 3}
                %tr
                  %td.table_grid_header Head Name
                  %td.table_grid_header Short Name
                  %td.table_grid_header{:colspan => 3} Operations
                - @salary_head_earnings.each do |salary_head|
                  %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
                    %td.table_grid_td= salary_head.head_name
                    %td.table_grid_td= salary_head.short_name
                    - if salary_head.id <= 3
                      %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Salary Head"), edit_salary_head_path(salary_head)
                    - else
                      %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Salary Head"), edit_salary_head_path(salary_head)
                    - if salary_head.id > 3
                      %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Destroy Salary Head"), salary_head, confirm: 'Are you sure?', method: :delete
                    - else
                      %td.table_grid_icon
              %br/
              .digg_pagination
                .page_info
                  = page_entries_info @salary_head_earnings
                = will_paginate @salary_head_earnings, :container => false
          %div{:class=>'tabbertab',:id=>'deductions'}
            %h2 Deductions
            %div
              %table.table_grid{:width=>600, :cellpadding => 0, :cellspacing => 3}
                %tr
                  %td.table_grid_header Head Name
                  %td.table_grid_header Short Name
                  %td.table_grid_header{:colspan => 3} Operations
                - @salary_head_deductions.each do |salary_head|
                  %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
                    %td.table_grid_td= salary_head.head_name
                    %td.table_grid_td= salary_head.short_name
                    - if salary_head.id <= 3
                      %td.table_grid_icon{:colspan => 2}= link_to image_tag('/assets/edit.png',:title => "Edit Salary Head"), edit_salary_head_path(salary_head)
                    - else
                      %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Salary Head"), edit_salary_head_path(salary_head)
                    - if salary_head.id > 3
                      %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Destroy Salary Head"), salary_head, confirm: 'Are you sure?', method: :delete
              %br/
              .digg_pagination
                .page_info
                  = page_entries_info @salary_head_deductions
                = will_paginate @salary_head_deductions, :container => false
    %tr
      %td &nbsp;

