%p
  %b Head Name:
  = @salary_head.head_name
%p
  %b Short Name:
  = @salary_head.short_name
%p
  %b Salary Type:
  = @salary_head.salary_type
= link_to 'Edit', edit_salary_head_path(@salary_head)
|
\#{link_to 'Back', salary_heads_path}
