#left_content
  = render 'left'
#right_content
  %h1
    Showing Salary Head
    = link_to image_tag('/assets/edit.png',:title => "Edit Salary Head"), edit_salary_head_path(@salary_head)
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Head Name:&nbsp;
                  %td= @salary_head.head_name
                %tr
                  %td{:width=>130} Salary Type:&nbsp;
                  %td= @salary_head.salary_type
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Short Name:&nbsp;
                  %td= @salary_head.short_name
