#left_content
  %ul
    %li= link_to 'Add New ESI Group', new_esi_group_path
  %hr
  %ul
    %li= link_to 'Listing Branches', branches_path
#right_content
  %h1 Listing ESI Groups
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td.std_td
        %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td{:colspan=>8}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}", :style => "color:#e9322d"
          %tr
            %td.table_grid_header ESI Group Name
            %td.table_grid_header Address
            %td.table_grid_header ESI No
            %td.table_grid_header ESI Local Office
            %td.table_grid_header{:colspan => 4} Operations
          - @esi_groups.each do |esi_group|
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td= esi_group.esi_group_name
              %td.table_grid_td= esi_group.address
              %td.table_grid_td{:align => "right"}= esi_group.esi_no
              %td.table_grid_td= esi_group.esi_local_office
              %td.table_grid_td{:align => "center"}= link_to image_tag('/assets/edit.png',:title => "Edit ESI Group"), edit_esi_group_path(esi_group)
              - if esi_group != EsiGroup.first
                %td.table_grid_td{:align => "center"}= link_to image_tag('/assets/delete.png',:title => "Delete ESI Group"), esi_group,:data=>{:confirm => 'Are you sure?'}, method: :delete
              %td.table_grid_icon{:align => "center"}= link_to image_tag('/assets/details.png',:title => "Details"), esi_group_rates_path(:params1 => esi_group.id)
        %br/
        .digg_pagination
          .page_info
            = page_entries_info @esi_groups
          = will_paginate @esi_groups, :container => false
    %tr
      %td &nbsp;