%script{:language => "JavaScript"}
  function setPercentage(applicability,percentage)
  {
  if(document.getElementById(applicability).checked == true)
  document.getElementById(percentage).value = 100.0
  else
  document.getElementById(percentage).value = 0.0
  }
= form_for(salary_group_detail) do |f|
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td{:colspan=>4}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
          %tr
            %td.std_td
              %table
                = f.hidden_field :salary_group_id, :value => param_sal_grp_id
                %tr
                  %td{:width=>130} Salary Head:&nbsp;
                  %td= f.collection_select :salary_head_id, SalaryHead.where('id != 2 and id != 3').order('created_at ASC'), :id, :head_name, :prompt => "Select Salary Head"
                %tr
                  %td{:width=>130} Print Name:&nbsp;
                  %td= f.text_field :print_name, :size => '22'
                %tr
                  %td{:width=>130} Print Order:&nbsp;
                  %td= f.text_field :print_order, :size => '22'
                %tr
                  %td{:width=>130} Based On:&nbsp;
                  %td= f.select :based_on, options_for_select(["Pay Days","Present Days","Independent Days"],salary_group_detail.based_on), {:prompt => 'Select'}
                %tr
                  %td{:width=>130} PF Applicability:&nbsp;
                  %td= f.check_box :pf_applicability, :onclick=> 'setPercentage("salary_group_detail_pf_applicability","salary_group_detail_pf_percentage")'
                %tr
                  %td{:width=>130} PF Percentage(%):&nbsp;
                  %td= f.text_field :pf_percentage, :size => '22', :readonly => 'readonly'
            %td.std_td
              %table
                %tr
                  %td{:width=>130} Calculation Type:&nbsp;
                  %td= f.select :calc_type, options_for_select(["Formula","Lumpsum","Every Month"],salary_group_detail.calc_type),  {:prompt => 'Select Type'}
                  %tr
                    %td{:width=>130} Calculation:&nbsp;
                    %td= f.text_area :calculation, :rows => 4, :cols => 30
                %tr
                  %td{:width=>130} ESI Applicability:&nbsp;
                  %td= f.check_box :esi_applicability, :onclick=> 'setPercentage("salary_group_detail_esi_applicability","salary_group_detail_esi_percentage")'
                %tr
                  %td{:width=>130} ESI Percentage(%):&nbsp;
                  %td= f.text_field :esi_percentage, :size => '22', :readonly => 'readonly'
          %tr
            %td.std_td{:colspan=>2}
              %table
                %tr
                  %td &nbsp;
                %tr
                  %td{:colspan=>2}= f.submit