#left_content
  %ul
    %li= link_to 'Back', salary_groups_path
    %li= link_to 'Add New Configuration', new_salary_group_detail_path(:param1=>@param_sal_grp_id)
#right_content
  %h1 Listing #{SalaryGroup.find_by_id(@param_sal_grp_id).salary_group_name}'s Configurations
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        %table.table_grid{:width=>757, :cellpadding => 0, :cellspacing => 3}
          %tr
            %td{:colspan=>4}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
          %tr
            %td.table_grid_header Salary Head
            %td.table_grid_header Calculation Type
            %td.table_grid_header PF Applicability
            %td.table_grid_header PF Percentage
            %td.table_grid_header Based On
            %td.table_grid_header{:colspan => 3} Operations
          - @salary_group_details.each do |salary_group_detail|
            %tr{:class => "#{cycle('table_grid_odd_row', 'table_grid_even_row')}"}
              %td.table_grid_td= salary_group_detail.salary_head.head_name
              %td.table_grid_td= salary_group_detail.calc_type
              %td.table_grid_td= (salary_group_detail.pf_applicability==true)?"Yes":"No"
              %td.table_grid_td= salary_group_detail.pf_percentage
              %td.table_grid_td= salary_group_detail.based_on
              %td.table_grid_icon= link_to image_tag('/assets/show.png',:title => "Show Salary Group Configuration"), salary_group_detail_path(salary_group_detail,:param1=>@param_sal_grp_id )
              %td.table_grid_icon= link_to image_tag('/assets/edit.png',:title => "Edit Salary Group Configuration"), edit_salary_group_detail_path(salary_group_detail,:param1=>@param_sal_grp_id)
              %td.table_grid_icon= link_to image_tag('/assets/delete.png',:title => "Delete Salary Group Configuration"), salary_group_detail, confirm: 'Are you sure? You want to delete this configuration.', method: :delete

        %br/
        .digg_pagination
          .page_info
            = page_entries_info @salary_group_details
          = will_paginate @salary_group_details, :container => false
    %tr
      %td &nbsp;
