!!!
%html
  %head
    %title #{Company.first.companyname if Company.exists?} Web Payroll
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "http://code.jquery.com/jquery-latest.js"}
    = javascript_include_tag "jquery-1.3.1.min"
    = javascript_include_tag  "jquery.date_input"
    = stylesheet_link_tag    "date_input"
    %script{:language => "javascript"}
      $($.date_input.initialize);
    %script{:language => "JavaScript"}
      $(document).ready(function(){

      $("#search_field").keyup(function() {
      $.get($("#emp_search").attr("action"), $("#emp_search").serialize(), null, "script");
      return false;
      });

      $("#option_setting_country_id").change(function()
      {
      $.get($("#currency_form").attr("action"), $("#option_setting_country_id").serialize(), null, "script");
      return false;
      });

      $("#salary_head_n_grp_ids").change(function()
      {
      $.get($("#group_details").attr("action"), $("#salary_head_n_grp_ids").serialize(), null, "script");
      return false;
      });

      -# Begin :-
      $("#option_setting_date_format").change(function(){
      var date_format=this.value;
      if(date_format==="Y-m-d")
      {
      $("#date_format_example").html("\"Example: 2012-08-25\"");
      }
      if(date_format==="d/m/Y")
      {
      $("#date_format_example").html("\"Example: 25/08/2012\"");
      }
      if(date_format==="d-m-Y")
      {
      $("#date_format_example").html("\"Example: 25-08-2012\"");
      }
      if(date_format==="M/d/Y")
      {
      $("#date_format_example").html("\"Example: Jan/25/2012\"");
      }
      if(date_format==="M-d-Y")
      {
      $("#date_format_example").html("\"Example: Jan-25-2012\"");
      }
      if(date_format==="Y/m/d")
      {
      $("#date_format_example").html("\"Example: 2012/08/20\"");
      }
      if(date_format==="d/M/Y")
      {
      $("#date_format_example").html("\"Example: 25/Jan/2012\"");
      }
      if(date_format==="d-M-Y")
      {
      $("#date_format_example").html("\"Example: 25-Jan-2012\"");
      }
      if(date_format==="Y/M/d")
      {
      $("#date_format_example").html("\"Example: 2012/Jan/25\"");
      }
      if(date_format==="Y-M-d")
      {
      $("#date_format_example").html("\"Example: 2012-Jan-25\"");
      }
      if(date_format==="MM d Y")
      {
      $("#date_format_example").html("\"Example: January 25, 2012\"");
      }
      if(date_format==="d MM Y")
      {
      $("#date_format_example").html("\"Example: 25 January 2012\"");
      }
      if(date_format==="m/d/Y")
      {
      $("#date_format_example").html("\"Example: 01/25/2012\"");
      }
      if(date_format==="m-Y-d")
      {
      $("#date_format_example").html("\"Example: 01-2012-25\"");
      }
      if(date_format==="d/m/y")
      {
      $("#date_format_example").html("\"Example: 25/01/12\"");
      }
      if(date_format==="d-m-y")
      {
      $("#date_format_example").html("\"Example: 25-01-12\"");
      }
      });
      -# End

      if($("#option_setting_pf_applicable").attr('checked')) {
      $("#option_setting_voluntary_pf").attr("disabled", false);
      }

      var c=0;
      $("#select_all").click(function(){
      c++;
      if (c==1){
      $("input:checkbox").attr("checked", true);}
      else{
      $("input:checkbox").attr("checked",false);c=0}});

      $("#option_setting_pf_applicable").click(function() {

      if($("#option_setting_pf_applicable").attr('checked')) {
      $("#option_setting_voluntary_pf").attr("disabled", false);
      }
      else
      {
      $("#option_setting_voluntary_pf").attr("disabled", true);
      $("#option_setting_voluntary_pf").attr("checked", false);
      }
      });

      $("#option_setting_pt_applicable").click(function() {

      if($("#option_setting_pt_applicable").attr('checked')) {
      $("#option_setting_multi_state_pt").attr("disabled", false);
      $("#option_setting_multi_pt").attr("disabled", false);
      }
      else
      {
      $("#option_setting_multi_state_pt").attr("disabled", true);
      $("#option_setting_multi_pt").attr("disabled", true);
      }
      });


      });

  %body
    #header
      #header_left
        %h1= Company.first.companyname if Company.exists?
      #header_right
        = image_tag(Company.first.photo.url(:logo), :id => "logo") if Company.exists?
    - if @_current_user
      -if OptionSetting.first.date_format?
        = hidden_field_tag "date_format", OptionSetting.date_format_type("",2)
      -else
        = hidden_field_tag "date_format", ""
      #bluemenu.bluetabs
        %ul
          %li
            %a{:href => root_path} Home
          %li
            %a{:href => companies_path, :rel => "dropmenu1_b"} Settings
          %li
            %a{:href => branches_path, :rel => "dropmenu2_b"} Master
          %li
            %a{:href => leave_takens_path,:rel=>"dropmenu6_b"}Leave
          -#%li
          -#  %a{:href => leave_details_path, :rel => "dropmenu5_b"} Leave
          %li
            %a{:href => new_salary_path, :rel => "dropmenu3_b"} Salary
          %li
            %a{:href => report_employees_path, :rel => "dropmenu4_b"} Reports
          %li
            %a{:href => "/doc/UserManual.html",:target=>"_blank"}Help
          %li
            %a{:href => logout_path} Logout
      / 1st drop down menu
      #dropmenu1_b.dropmenudiv_b
        %a{:href => companies_path} Company
        %a{:href => option_settings_path} Option Settings
        %a{:href => paymonths_path} Pay Months
        %a{:href => states_path} States
        %a{:href => classification_headings_path} Classifications
        %a{:href => hr_categories_path} HR Category
        %a{:href => attendance_configurations_path} Attendance Configuration
      #dropmenu2_b.dropmenudiv_b
        %a{:href => branches_path} Branch
        %a{:href => pf_groups_path} PF Group
        %a{:href => pt_groups_path} PT Group
        %a{:href => esi_groups_path} ESI Group
        %a{:href => salary_heads_path} Salary Head
        %a{:href => salary_groups_path} Salary Structure
        %a{:href => employees_path} Employees
        %a{:href => salary_allotments_path} Employee's - Salary Rate Master
        %a{:href => financial_institutions_path} Financial Institution (Bank)
        %a{:href => holidays_path} Holiday Lists
      #dropmenu3_b.dropmenudiv_b
        %a{:href => new_salary_path} Salary Editor
        %a{:href => salaries_path} Employee's - Salary Details
      #dropmenu4_b.dropmenudiv_b
        %a{:href => report_employees_path} Employee Master Report
        %a{:href => salary_sheet_salaries_path} Salary Sheet
      #dropmenu5_b.dropmenudiv_b
        %a{:href => leave_definitions_path} Leave Definitions
        %a{:href => leave_details_path} Leave Details
      #dropmenu6_b.dropmenudiv_b

      :javascript
        //SYNTAX: tabdropdown.init("menu_id", [integer OR "auto"])
        tabdropdown.init("bluemenu")
    - if @_current_user
      #main_content
        = yield
    - else
      #main_content_index
        = yield
    #footer
      %p Copyright &copy; #{Time.now.year}, Relyon Softech Limited, All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Ver 0.2)

