!!!
%html
  %head
    %title #{Company.first.companyname if Company.exists?} Web Payroll
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag  "jquery.date_input"
    = stylesheet_link_tag    "date_input"
    = csrf_meta_tags
    %script{:language => "javascript"}
      $($.date_input.initialize);
    %script{:language => "JavaScript"}
      $(document).ready(function(){
      var c=0;
      $("#select_all").click(function(){
      c++;
      if (c==1){
      $("input:checkbox").prop("checked", true);}
      else{
      $("input:checkbox").prop("checked",false);c=0}});
      });
  %body
    #header
      #header_left
        %h1= Company.first.companyname if Company.exists?
      #header_right
        = image_tag(Company.first.photo.url(:logo), :id => "logo") if Company.exists?
    - if @_current_user
      #bluemenu.bluetabs
        %ul
          %li
            %a{:href => root_path} Home
          %li
            %a{:href => companies_path, :rel => "dropmenu1_b"} Settings
          %li
            %a{:href => branches_path, :rel => "dropmenu2_b"} Master
          -#%li
          -#  %a{:href => attendance_configurations_path, :rel => "dropmenu3_b"} Attendance
          %li
            %a{:href => leave_details_path} Leave
          %li
            %a{:href => new_salary_path, :rel => "dropmenu4_b"} Salary
          %li
            %a{:href => report_employees_path, :rel => "dropmenu5_b"} Reports
          %li
            %a{:href => "/doc/UserManual.html",:target=>"_blank"}Help
          %li
            %a{:href => logout_path} Logout
          -##clock
          -#  :javascript
          -#    new imageclock.display()

      / 1st drop down menu
      #dropmenu1_b.dropmenudiv_b
        %a{:href => companies_path} Company
        %a{:href => paymonths_path} Pay Months
        %a{:href => states_path} States
        %a{:href => classification_headings_path} Classifications
        %a{:href => designations_path} Designation
        %a{:href => departments_path} Department
        %a{:href => grades_path} Grade
        %a{:href => hr_categories_path} HR Category
        %a{:href => attendance_configurations_path} Attendance Configuration
      #dropmenu2_b.dropmenudiv_b
        %a{:href => branches_path} Branch
        %a{:href => pf_groups_path} PF Group
        %a{:href => pt_groups_path} PT Group
        %a{:href => esi_groups_path} ESI Group
        %a{:href => salary_heads_path} Salary Head
        %a{:href => salary_groups_path} Salary Group
        %a{:href => employees_path} Employees
        %a{:href => salary_allotments_path} Employee's - Salary Rate
        %a{:href => financial_institutions_path} Financial Institution (Bank)
        %a{:href => holidays_path} Holiday Lists
      -##dropmenu3_b.dropmenudiv_b


      #dropmenu4_b.dropmenudiv_b
        %a{:href => new_salary_path} Salary Editor
        %a{:href => salaries_path} Employee's - Salary Details
      #dropmenu5_b.dropmenudiv_b
        %a{:href => report_employees_path} Employee Master Report
        %a{:href => salary_sheet_salaries_path} Salary Sheet
      :javascript
        //SYNTAX: tabdropdown.init("menu_id", [integer OR "auto"])
        tabdropdown.init("bluemenu")
    - if @_current_user
      #main_content
        = yield
    - else
      #main_content_index
        = yield
    #footer
      %p Copyright &copy; #{Time.now.year}, Relyon Softech Limited, All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Ver 0.2)

