#left_content
  %ul
    %li= link_to 'Back', pf_groups_path
    %li= link_to 'Edit PF Group', edit_pf_group_path(@pf_group)
#right_content
  %h1
    Showing PF Group
    = link_to image_tag('/assets/edit.png',:title => "Edit PF Group"), edit_pf_group_path(@pf_group)
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td{:colspan=>2}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
          %tr
            %td.std_td
              %table
                %tr
                  %td{:width=>130} PF Group:&nbsp;
                  %td= @pf_group.pf_group
                %tr
                  %td{:width=>130} DB File Code:&nbsp;
                  %td= @pf_group.db_file_code
                %tr
                  %td{:width=>130} Address:&nbsp;
                  %td= @pf_group.address
            %td.std_td
              %table
                %tr
                  %td{:width=>130} PF Number:&nbsp;
                  %td= @pf_group.pf_number
                %tr
                  %td{:width=>130} Extension:&nbsp;
                  %td= @pf_group.extension